<!DOCTYPE html>
<html>
	<head>
		<title>star game</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<script src="../js/three.js/build/three.js"></script> 
		<script src="../js/three.js/examples/js/controls/flycontrols.js"></script> 
		<script src="../js/three.js/build/three.module.js"></script>
		<script src="../js/jquery/jquery-3.3.1.min.js"></script>
		<script src="../js/jquery/jquery-ui.min.js"></script>
    	<script src='https://www.google.com/recaptcha/api.js'></script>
		
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>

	<body>
		<div class="canvas-container fade-in">
			<canvas id="canvas"></canvas>
			<div id="header-div">
				Login
				<hr>
			</div>
			<div id="login-div">
				<form id="login-form" action="/user/login" method="post">
					<input type="text" id="username" placeholder="Username" name="username" required>
					<input type="password" id="password" placeholder="Password" name="password" required>	
       				<button type="submit" class="g-recaptcha color-transition" data-sitekey="6LetXl0UAAAAALM9ooLBGE0h1gK40zGVtmR3U1Wk" data-callback="submit">LOG IN</button>
				</form>
			</div>																
			{{# if error }}
				<div id="errors"> {{ error }} </div>
			{{/if}}
		</div>
		<div id="menu"> </div>
		<script>
			function submit() {
				document.getElementById('login-form').submit();
			}
		</script>
		<script src="../js/general.js"></script>
		<script src="../js/stars.js"></script>
	</body>
</html>