<!DOCTYPE html>
<html>
	<head>
		<title>star game</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<script src="/js/three.js/build/three.js"></script> 
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery/jquery-ui.min.js"></script>

		<script src="/js/top-div.js"></script>
		<script src="/js/self-profile.js"></script>
		<script src="/js/messages.js"></script>
		<script src="/js/profile.js"></script>
		<script src="/js/make-message.js"></script>
		<script src="/js/scoreboards.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/friendlist.js"></script>
		<script src="/js/notifications.js"></script>

		<script src="/js/conquest.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/css/other-planet.css"> 

		<link rel="stylesheet" type="text/css" href="/css/general.css">

		<link rel="stylesheet" type="text/css" href="/css/top-div.css">		
		<link rel="stylesheet" type="text/css" href="/css/self-profile.css">
		<link rel="stylesheet" type="text/css" href="/css/profile.css">
		<link rel="stylesheet" type="text/css" href="/css/lore.css">
		<link rel="stylesheet" type="text/css" href="/css/self-lore.css">
		<link rel="stylesheet" type="text/css" href="/css/messages.css">
		<link rel="stylesheet" type="text/css" href="/css/message.css">
		<link rel="stylesheet" type="text/css" href="/css/make-message.css">
		<link rel="stylesheet" type="text/css" href="/css/scoreboards.css">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/friendlist.css">	
		<link rel="stylesheet" type="text/css" href="/css/notifications.css">	
		<link rel="stylesheet" type="text/css" href="/css/classes.css">	
		<link rel="stylesheet" type="text/css" href="/css/resources.css">	

		<link rel="stylesheet" type="text/css" href="/css/conquest.css">

	</head>

	<body>
		<div class="canvas-container fade-in">
			<canvas id="canvas"></canvas>
			
			<div id="top-div" onmouseover="topDiv.showResources()" onmouseleave="topDiv.hideResources()" class="transition">
				<div id="top-planets-dropdown" onmouseleave="topDiv.closePlanetsDropdown()" class="transition" minimizable>
					<div id="top-planets-dropdown-head" onmouseover="topDiv.openPlanetsDropdown()" onclick="general.redirect('/planet/{{planetID}}')">{{planetName}}</div>
					{{#each planetsList}}
						<hr class="top-planets-dropdown-hr">
						<div class="top-planets-dropdown-line transition" onclick="general.redirect('/planet/{{this.id}}')">{{this.name}}</div>
					{{/each}}
				</div>
				<div id="top-gc" minimizable><img src="/images/icons/gc.png">{{formatNumber resources.gc}}</div>
				<div id="top-resources" class="transition" minimizable>
					<div id="top-resources-iron" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.iron}}</div>
					<div id="top-resources-hydrogen" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.hydrogen}}</div>
					<div id="top-resources-titanium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.titanium}}</div>
					<div id="top-resources-uranium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.uranium}}</div>
					<div id="top-resources-orium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.orium}}</div>
				</div>

				<button id="top-self-profile-button" class="transition" onclick="selfProfile.start()" minimizable>PROFILE</button>	
				<button id="top-scoreboards-button" class="transition" onclick="scoreboards.start()" minimizable>SCOREBOARDS</button>
				<button id="top-index-button" class="transition" onclick="index.start()" minimizable>INDEX</button>
				
				<button id="top-messages-button" class="transition" onclick="messages.start()" minimizable>MESSAGES {{#if messagesAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-friendlist-button" class="transition" onclick="friendList.start()" minimizable>FRIEND LIST {{#if friendListAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-notifications-button" class="transition" onclick="notifications.start()" minimizable>NOTIFICATIONS {{#if notificationsAlert}}<span class="top-red-dot"></span>{{/if}}</button>

				<div id="top-planet-button" class="transition" onclick="general.redirect('/planet')">
					<img src="/images/icons/planet.png">
				</div>
				<div id="top-solar-system-button" class="transition" onclick="general.redirect('/solar-system')">
					<img src="/images/icons/solar-system.png">
				</div>
				<div id="top-galaxy-button" class="transition" onclick="general.redirect('/galaxy')">
					<img src="/images/icons/galaxy.png">
				</div>

				<div id="top-minimize" onclick="topDiv.minimize()" minimizable>
					<img src="/images/icons/top-minimize.png">
				</div>

				<div id="top-extend" onclick="topDiv.extend()" class="invisible">
					<img src="/images/icons/top-extend.png">
				</div>
			</div>
			
			<div id="header-div">
				{{item.name}}
			</div>

			<hr id="header-hr">

			<div id="controls-div">
				<div id="planet-text">
					{{#if item.being_conquered}}
						This planet is being conquered by {{item.empire_name}}.
					{{else}}
						{{#if item.empty_unoccupied}}
							This planet is uninhabited and is not occupied by any empire.
						{{/if}}
						{{#if item.empty_occupied}}
							This planet is uninhabited and controlled by {{item.empire_name}}.
						{{/if}}
						{{#if item.populated_unoccupied}}
							This planet is inhabited by a local population and is not controlled by any empire.
						{{/if}}
						{{#if item.populated_occupied}}
							This planet is controlled and populated by {{item.empire_name}}.
						{{/if}}
						{{#if item.conquered_population}}
							This planet is inhabited by the {{item.race_name}} race. The population is conquered by {{item.empire_name}}.
						{{/if}}
						{{#if item.conquered_local_population}}
							This planet is inhabited by a local population. The population is conquered by {{item.empire_name}}.
						{{/if}}
					{{/if}}
						
				</div>

				{{#if item.being_conquered}}
					<div id="planet-wait"></div>
					<div id="planet-wait-till" class="invisible">{{item.conquest_time}}</div>
				{{else}}
					<div id="planet-stats">
						<div class="planet-stats-div">Survivability: {{item.survivability_requirement}}</div>

						<hr class="planet-stats-hr">

						<div class="planet-stats-div">Resources: <img class="planet-stats-div-resource-img" src={{item.resource_1_pic_path}}> <img class="planet-stats-div-resource-img" src={{item.resource_2_pic_path}}></div>

						<hr class="planet-stats-hr">
						
						<div class="planet-stats-div">Development level: {{item.development_level}}</div>

						<hr class="planet-stats-hr">

						<div class="planet-stats-div">Military power: {{formatNumber item.military_power}}</div>

						{{#if item.has_empire}}
							<hr class="planet-stats-hr">
							<div class="planet-stats-div">
								Player: <button id="profile-button" onclick="profile.start(document.getElementById('owner-id').innerHTML)" class="transition">{{item.owner_nickname}}</button>
							</div>
						{{/if}}
					</div>
					<div id="actions">
						{{#if item.has_army}}
							<button class="action transition" onclick="conquest.start()">ATTACK AND CONQUER</button>
							<button class="action transition" onclick="conquest.start()">ATTACK</button>
						{{else}}						
							<button class="action transition" onclick="conquest.start()">CONQUER</button>
						{{/if}}
					</div>
				{{/if}}
				
			</div>
		</div>

		<div id="owner-id" class="invisible">{{item.owner_id}}</div>		
		<div id="self-profile" class="pop-up"></div>
		<div id="profile" class="pop-up"></div>
		<div id="lore" class="pop-up"></div>
		<div id="messages" class="pop-up"></div>
		<div id="message" class="pop-up"></div>
		<div id="make-message" class="pop-up"></div>
		<div id="scoreboards" class="pop-up"></div>
		<div id="index" class="pop-up"></div>
		<div id="friendlist" class="pop-up"></div>
		<div id="resources" class="pop-up"></div>
		<div id="classes" class="pop-up"></div>
		<div id="notifications" class="pop-up-static transition"></div>

		<div id="conquest" class="pop-up"></div>

		<div id="planet-texture" class="invisible">{{item.texture}}</div>

		<script src="/js/general.js"></script>
		<script src="/js/planet.js"></script>
		<script>
			// globals
			const ownerID = {{item.owner_id}};
			const yourID = {{userID}};
			const planetID = {{item.id}};
			let popUps = [];

			let gc = {{resources.gc}};
			let iron = {{resources.iron}};
			let hydrogen = {{resources.hydrogen}};
			let titanium = {{resources.titanium}};
			let uranium = {{resources.uranium}};
			let orium = {{resources.orium}};

			// conquest countdown
			let waitDiv = $('#planet-wait');
			let waitTill = new Date($('#planet-wait-till').html());

			let conquestCountdown = setInterval(function() {
				let time = general.timeDifference(waitTill);
				$(waitDiv).html(time);  
			}, 1000);
		</script>
	</body>
</html>