<!DOCTYPE html>
<html>
	<head>
		<title>star game</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<script src="/js/three.js/build/three.js"></script> 
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery/jquery-ui.min.js"></script>
		
		<script src="/js/top-div.js"></script>
		<script src="/js/self-profile.js"></script>
		<script src="/js/messages.js"></script>
		<script src="/js/profile.js"></script>
		<script src="/js/make-message.js"></script>
		<script src="/js/scoreboards.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/friendlist.js"></script>
		<script src="/js/notifications.js"></script>

		<script src="/js/development.js"></script>
		<script src="/js/military-shop.js"></script>
		<script src="/js/population.js"></script>
		<script src="/js/mines.js"></script>
		<script src="/js/army.js"></script>
		<script src="/js/shield.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/css/owner-planet.css">

		<link rel="stylesheet" type="text/css" href="/css/general.css">

		<link rel="stylesheet" type="text/css" href="/css/top-div.css">
		<link rel="stylesheet" type="text/css" href="/css/self-profile.css">
		<link rel="stylesheet" type="text/css" href="/css/profile.css">
		<link rel="stylesheet" type="text/css" href="/css/lore.css">
		<link rel="stylesheet" type="text/css" href="/css/self-lore.css">
		<link rel="stylesheet" type="text/css" href="/css/messages.css">
		<link rel="stylesheet" type="text/css" href="/css/message.css">
		<link rel="stylesheet" type="text/css" href="/css/make-message.css">
		<link rel="stylesheet" type="text/css" href="/css/scoreboards.css">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/classes.css">
		<link rel="stylesheet" type="text/css" href="/css/resources.css">
		<link rel="stylesheet" type="text/css" href="/css/friendlist.css">	
		<link rel="stylesheet" type="text/css" href="/css/notifications.css">	

		<link rel="stylesheet" type="text/css" href="/css/development.css">
		<link rel="stylesheet" type="text/css" href="/css/military-shop.css">
		<link rel="stylesheet" type="text/css" href="/css/extended-item.css">
		<link rel="stylesheet" type="text/css" href="/css/population.css">
		<link rel="stylesheet" type="text/css" href="/css/mines.css">
		<link rel="stylesheet" type="text/css" href="/css/army.css">
		<link rel="stylesheet" type="text/css" href="/css/shield.css">
		
	</head>

	<body>
		<div class="canvas-container fade-in">
			<canvas id="canvas"></canvas>
			
			<div id="top-div" onmouseover="topDiv.showResources()" onmouseleave="topDiv.hideResources()" class="transition">
				<div id="top-planets-dropdown" onmouseleave="topDiv.closePlanetsDropdown()" class="transition" minimizable>
					<div id="top-planets-dropdown-head" onmouseover="topDiv.openPlanetsDropdown()" onclick="general.redirect('/planet/{{planetID}}')">{{planetName}}</div>
					{{#each planetsList}}
						<hr class="top-planets-dropdown-hr">
						<div class="top-planets-dropdown-line transition" onclick="general.redirect('/planet/{{this.id}}')">{{this.name}}</div>
					{{/each}}
				</div>
				<div id="top-gc" minimizable><img src="/images/icons/gc.png">{{formatNumber resources.gc}}</div>
				<div id="top-resources" class="transition" minimizable>
					<div id="top-resources-iron" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.iron}}</div>
					<div id="top-resources-hydrogen" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.hydrogen}}</div>
					<div id="top-resources-titanium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.titanium}}</div>
					<div id="top-resources-uranium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.uranium}}</div>
					<div id="top-resources-orium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.orium}}</div>
				</div>

				<button id="top-self-profile-button" class="transition" onclick="selfProfile.start()" minimizable>PROFILE</button>	
				<button id="top-scoreboards-button" class="transition" onclick="scoreboards.start()" minimizable>SCOREBOARDS</button>
				<button id="top-index-button" class="transition" onclick="index.start()" minimizable>INDEX</button>
				
				<button id="top-messages-button" class="transition" onclick="messages.start()" minimizable>MESSAGES {{#if messagesAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-friendlist-button" class="transition" onclick="friendList.start()" minimizable>FRIEND LIST {{#if friendListAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-notifications-button" class="transition" onclick="notifications.start()" minimizable>NOTIFICATIONS {{#if notificationsAlert}}<span class="top-red-dot"></span>{{/if}}</button>

				<div id="top-planet-button" class="transition" onclick="general.redirect('/planet')">
					<img src="/images/icons/planet.png">
				</div>
				<div id="top-solar-system-button" class="transition" onclick="general.redirect('/solar-system')">
					<img src="/images/icons/solar-system.png">
				</div>
				<div id="top-galaxy-button" class="transition" onclick="general.redirect('/galaxy')">
					<img src="/images/icons/galaxy.png">
				</div>

				<div id="top-minimize" onclick="topDiv.minimize()" minimizable>
					<img src="/images/icons/top-minimize.png">
				</div>

				<div id="top-extend" onclick="topDiv.extend()" class="invisible">
					<img src="/images/icons/top-extend.png">
				</div>
			</div>

			<div id="header-div">
				{{item.name}}
			</div>
			<hr id="header-hr">
			
			{{#if populationChoice}}
				<div id="population-choice-peace-text" class="transition">
					The people will be free to live their normal lives and the planet's production as well as GC taxes will be collected by your empire.<br/><br/>
					You won't be able to populate the planet with your own people. Your empire will gain honor. 
				</div>
				
				<div id="population-choice-slavery-text" class="transition">
					The population will be enslaved and the planet's productivity and GC taxes will be doubled.	You won't be able to populate the planet with your own people.<br/><br/>
					The population's state will go down, which means that there will be a risk of mutiny that scales with the amount of combat ready individuals. Your empire will lose honor.
				</div>
				
				<div id="population-choice-extermination-text" class="transition">
					The population will be exterminated. The extermination process will take time and your empire will lose a significant amount of honor.
				</div>
			{{/if}}

			<div id="controls-div">
				{{#if populationChoice}}
					<div id="planet-text">
						You have conquered this planet.
						{{#if item.conquered_population}}
							The planet is inhabited by the {{item.race_name}} race.
						{{/if}}
						{{#if item.conquered_local_population}}
							The planet is inhabited by a local population.
						{{/if}}
					</div>

					<div id="population-stats">
						<div class="population-stats-div">Population size: {{formatNumber item.size}}</div>

						<hr class="population-stats-hr">
						
						<div class="population-stats-div">Combat ready population: {{formatNumber item.ready_for_combat}}</div>
					</div>

					<div id="planet-text-2">You now have to take a course of action with the population:</div>

					<div id="population-buttons">
						<div class="planet-button-div transition" onmouseover="$('#population-choice-peace-text').show()" onmouseleave="$('#population-choice-peace-text').hide()" onclick="general.redirect('/planet/population-choice/peace')">
							<img src="/images/icons/peace.png">Peace
						</div>
						
						<div class="planet-button-div transition" onmouseover="$('#population-choice-slavery-text').show()" onmouseleave="$('#population-choice-slavery-text').hide()" onclick="general.redirect('/planet/population-choice/slavery')">
							<img src="/images/icons/slave.png">Slavery
						</div>

						<div class="planet-button-div transition" onmouseover="$('#population-choice-extermination-text').show()" onmouseleave="$('#population-choice-extermination-text').hide()" onclick="general.redirect('/planet/population-choice/extermination')">
							<img src="/images/icons/death.png">Extermination
						</div>
					</div>

					
				{{else}}
					<div id="planet-text">
						{{#if item.being_conquered}}
							You are conquering this planet.
						{{else if item.being_exterminated}}
							You are exterminating the planet's population.
						{{else}}
							{{#if item.is_home_planet}}
								This is your home planet. The planet where your race was born.
							{{else if item.conquered_local_population}}
								This planet belongs to your empire. The planet is inhabited by a local conquered population.
							{{else if item.conquered_population}}
								This planet belongs to your empire. The planet is inhabited by a conquered population of the {{item.race_name}} race.
							{{else}}
								This planet belongs to your empire.
							{{/if}}

							{{#if (equals item.conquered_status "peace")}}
								The population lives in peace.
							{{else if (equals item.conquered_status "slavery")}}
								The population is enslaved.
							{{/if}}
						{{/if}}
					</div>

					{{#if item.being_conquered}}
						<div id="planet-wait"></div>
						<div id="planet-wait-till" class="invisible">{{item.conquest_time}}</div>
					{{else if item.being_exterminated}}
						<div id="planet-wait"></div>
						<div id="planet-wait-till" class="invisible">{{item.extermination_time}}</div>
					{{else}}
						<div id="planet-buttons">
							<div class="planet-button-div transition" onclick="development.start()">
								<img src="/images/icons/development.png">Planet development
							</div>

							<hr class="planet-button-hr">

							{{#if (and (notEquals item.conquered_status "peace") (notEquals item.conquered_status "slavery"))}}	
								<div class="planet-button-div transition" onclick="militaryShop.start()">
									<img src="/images/icons/shop.png">Military shop
								</div>

								<hr class="planet-button-hr">
							{{/if}}

							<div class="planet-button-div transition" onclick="population.start()">
								<img src="/images/icons/population.png">Population
							</div>

							<hr class="planet-button-hr">
							
							<div class="planet-button-div transition" onclick="mines.start()">
								<img src="/images/icons/mines.png">Mines
							</div>

							<hr class="planet-button-hr">
										
							<div class="planet-button-div transition" onclick="army.start()">
								<img src="/images/icons/tank.png">Army
							</div>
						
							<hr class="planet-button-hr">

							<div class="planet-button-div transition" onclick="shield.start()">
								<img src="/images/icons/shield.png">Shield
							</div>
						</div>
					{{/if}}
				{{/if}}				
			</div>
		</div>

		
		<div id="self-profile" class="pop-up"></div>
		<div id="profile" class="pop-up"></div>
		<div id="lore" class="pop-up"></div>
		<div id="messages" class="pop-up"></div>
		<div id="message" class="pop-up"></div>
		<div id="make-message" class="pop-up"></div>
		<div id="scoreboards" class="pop-up"></div>
		<div id="index" class="pop-up"></div>
		<div id="classes" class="pop-up"></div>
		<div id="resources" class="pop-up"></div>
		<div id="friendlist" class="pop-up"></div>
		<div id="notifications" class="pop-up-static transition"></div>

		<div id="development" class="pop-up"></div>
		<div id="military-shop" class="pop-up"></div>
		<div id="population" class="pop-up"></div>
		<div id="mines" class="pop-up"></div>
		<div id="army" class="pop-up"></div>
		<div id="shield" class="pop-up"></div>

		<div id="planet-texture" class="invisible">{{item.texture}}</div>

		<script src="/js/planet.js"></script>
		<script src="/js/general.js"></script>
		<script>
			// globals
			const ownerID = {{item.owner_id}};
			const yourID = {{userID}};
			let popUps = [];

			let gc = {{resources.gc}};
			let iron = {{resources.iron}};
			let hydrogen = {{resources.hydrogen}};
			let titanium = {{resources.titanium}};
			let uranium = {{resources.uranium}};
			let orium = {{resources.orium}};

			// conquest countdown
			let waitDiv = $('#planet-wait');
			let waitTill = new Date($('#planet-wait-till').html());

			let conquestCountdown = setInterval(function() {
				let time = general.timeDifference(waitTill);
				$(waitDiv).html(time);  
			}, 1000);

		</script>
	</body>
</html>