<!DOCTYPE html>
<html>
	<head>
		<title>star game</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<script src="/js/three.js/build/three.js"></script> 
		<script src="/js/three.js/examples/js/controls/flycontrols.js"></script> 
		<script src="/js/three.js/build/three.module.js"></script>
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery/jquery-ui.min.js"></script>

    	<script src='https://www.google.com/recaptcha/api.js'></script>
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/signup.css">
	</head>

	<body>
		<div class="canvas-container fade-in">
			<canvas id="canvas"></canvas>
			<div id="header-div">
				SIGN UP
				<hr>
			</div>
			<div id="signup-div">
				<form id="signup-form" action="/user/signup" method="post">
					<input type="text" id="username" placeholder="Username (4-16 characters)" name="username" required>
					<input type="text" id="nickname" placeholder="Nickname (4-16 characters)" name="nickname" required>
					<input type="email" id="email" placeholder="Email" name="email" required>
					<input type="password" id="password" placeholder="Password (at least 4 characters)" name="password" required>
					<input type="password" id="passwordConfirm" placeholder="Password Confirmation" name="passwordConfirm" required>
       				<button type="submit" class="g-recaptcha transition" data-sitekey="6LetXl0UAAAAALM9ooLBGE0h1gK40zGVtmR3U1Wk" data-callback="submit">SIGN UP</button>
				</form>
			</div>																	
			{{# if error }}
				<div id="errors"> {{ error }} </div>
			{{/if}}
		</div>
		<div id="menu"> </div>
		<script>
			function submit() {
				document.getElementById('signup-form').submit();
			}
		</script>
		<script src="../js/general.js"></script>
		<script src="../js/stars.js"></script>
	</body>
</html>