<!DOCTYPE html>
<html>
	<head>
		<title>star game</title>
		
		<script src="/js/three.js/build/three.js"></script> 
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery/jquery-ui.min.js"></script>
		<script src="/js/jshashtable/hashtable.js"></script>
		
		<script src="/js/top-div.js"></script>
		<script src="/js/self-profile.js"></script>
		<script src="/js/messages.js"></script>
		<script src="/js/profile.js"></script>
		<script src="/js/make-message.js"></script>
		<script src="/js/scoreboards.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/friendlist.js"></script>
		<script src="/js/notifications.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/solar-system.css">

		<link rel="stylesheet" type="text/css" href="/css/general.css">

		<link rel="stylesheet" type="text/css" href="/css/top-div.css">
		<link rel="stylesheet" type="text/css" href="/css/self-profile.css">
		<link rel="stylesheet" type="text/css" href="/css/profile.css">
		<link rel="stylesheet" type="text/css" href="/css/lore.css">
		<link rel="stylesheet" type="text/css" href="/css/self-lore.css">
		<link rel="stylesheet" type="text/css" href="/css/messages.css">
		<link rel="stylesheet" type="text/css" href="/css/message.css">
		<link rel="stylesheet" type="text/css" href="/css/make-message.css">
		<link rel="stylesheet" type="text/css" href="/css/scoreboards.css">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/classes.css">
		<link rel="stylesheet" type="text/css" href="/css/resources.css">
		<link rel="stylesheet" type="text/css" href="/css/friendlist.css">	
		<link rel="stylesheet" type="text/css" href="/css/notifications.css">	

	</head>
	<body>
		<div class="canvas-container fade-in">
			<canvas id="canvas"></canvas>
			
			<div id="top-div" onmouseover="topDiv.showResources()" onmouseleave="topDiv.hideResources()" class="transition">
				<div id="top-planets-dropdown" onmouseleave="topDiv.closePlanetsDropdown()" class="transition" minimizable>
					<div id="top-planets-dropdown-head" onmouseover="topDiv.openPlanetsDropdown()" onclick="general.redirect('/planet/{{planetID}}')">{{planetName}}</div>
					{{#each planetsList}}
						<hr class="top-planets-dropdown-hr">
						<div class="top-planets-dropdown-line transition" onclick="general.redirect('/planet/{{this.id}}')">{{this.name}}</div>
					{{/each}}
				</div>
				<div id="top-gc" minimizable><img src="/images/icons/gc.png">{{formatNumber resources.gc}}</div>
				<div id="top-resources" class="transition" minimizable>
					<div id="top-resources-iron" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.iron}}</div>
					<div id="top-resources-hydrogen" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.hydrogen}}</div>
					<div id="top-resources-titanium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.titanium}}</div>
					<div id="top-resources-uranium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.uranium}}</div>
					<div id="top-resources-orium" class="top-resource"><img src="/images/icons/iron.png">{{formatNumber resources.orium}}</div>
				</div>

				<button id="top-self-profile-button" class="transition" onclick="selfProfile.start()" minimizable>PROFILE</button>	
				<button id="top-scoreboards-button" class="transition" onclick="scoreboards.start()" minimizable>SCOREBOARDS</button>
				<button id="top-index-button" class="transition" onclick="index.start()" minimizable>INDEX</button>
				
				<button id="top-messages-button" class="transition" onclick="messages.start()" minimizable>MESSAGES {{#if messagesAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-friendlist-button" class="transition" onclick="friendList.start()" minimizable>FRIEND LIST {{#if friendListAlert}}<span class="top-red-dot"></span>{{/if}}</button>
				<button id="top-notifications-button" class="transition" onclick="notifications.start()" minimizable>NOTIFICATIONS {{#if notificationsAlert}}<span class="top-red-dot"></span>{{/if}}</button>

				<div id="top-planet-button" class="transition" onclick="general.redirect('/planet')">
					<img src="/images/icons/planet.png">
				</div>
				<div id="top-solar-system-button" class="transition" onclick="general.redirect('/solar-system')">
					<img src="/images/icons/solar-system.png">
				</div>
				<div id="top-galaxy-button" class="transition" onclick="general.redirect('/galaxy')">
					<img src="/images/icons/galaxy.png">
				</div>

				<div id="top-minimize" onclick="topDiv.minimize()" minimizable>
					<img src="/images/icons/top-minimize.png">
				</div>

				<div id="top-extend" onclick="topDiv.extend()" class="invisible">
					<img src="/images/icons/top-extend.png">
				</div>
			</div>

			<div id="header-div">
				SOLAR SYSTEM
			</div>

			<hr id="header-hr">

			<div id="controls-div">
				
				{{#each (tillLast planets)}}
					<div class="planet-line transition" onclick="general.redirect('/planet/{{this.planet_id}}')">
						<img src="{{this.texture}}">
						<div class="planet-line-planet-name ellipsis">{{this.planet_name}}</div>
						<div class="planet-line-empire-name ellipsis">
							{{#if this.being_conquered}}
								Being conquered
							{{else}}
								Empire:
								{{#if this.empire_name}} 
									{{this.empire_name}}
								{{else}}
									none
								{{/if}}
							{{/if}}
						</div>
					</div>

					<hr class="planet-hr">
					<div class="planet-line-texture invisible">{{this.texture}}</div>
				{{/each}}

				<div class="planet-line transition" onclick="general.redirect('/planet/{{attribute (last planets) "planet_id"}}')">
					<img src="{{attribute (last planets) "texture"}}">
					<div class="planet-line-planet-name ellipsis">{{attribute (last planets) "planet_name"}}</div>
					<div class="planet-line-empire-name ellipsis">
						{{#if (attribute (last planets) "being_conquered")}}
							Being conquered
						{{else}}
							Empire:
							{{#if (attribute (last planets) "empire_name")}} 
								{{attribute (last planets) "empire_name"}}
							{{else}}
								none
							{{/if}}
						{{/if}}

						
					</div>
				</div>

				<div class="planet-line-texture invisible">{{attribute (last planets) "texture"}}</div>

			</div>
		</div>
	
		
		<div id="self-profile" class="pop-up"></div>
		<div id="profile" class="pop-up"></div>
		<div id="lore" class="pop-up"></div>
		<div id="messages" class="pop-up"></div>
		<div id="message" class="pop-up"></div>
		<div id="make-message" class="pop-up"></div>
		<div id="scoreboards" class="pop-up"></div>
		<div id="index" class="pop-up"></div>
		<div id="classes" class="pop-up"></div>
		<div id="resources" class="pop-up"></div>
		<div id="friendlist" class="pop-up"></div>
		<div id="notifications" class="pop-up-static transition"></div>

		<script src="/js/general.js"></script>
		<script src="/js/solar-system.js"></script>
		<script>
			// globals
			const yourID = {{userID}};
			let popUps = [];
		</script>
	</body>

</html>