#army {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 10vh;
    left: 25vw;
}

#close-army {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#army-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#army-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 68vh;
    width: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.army-unit-line {
    margin-left: 4vw;
    margin-bottom: 3vh;
    text-align: left;
    font-size: 1vw;
    width: 46vw;
    height: 8vh;
}

.army-unit-image {
    display: inline-block;
    height: 100%;
    width: auto;
}

.army-unit-name {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 20%;
    vertical-align: middle;
    margin-left: 1%;
}

.army-unit-amount {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    margin-left: 1.2%;
}

.army-unit-attack {
    display: inline-block;
    line-height: 100%;
    height: 120%;
    vertical-align: middle;
    text-align: center;
    margin-left: 4%;
}

.army-unit-defense {
    display: inline-block;
    line-height: 100%;
    height: 120%;
    vertical-align: middle;
    text-align: center;
    margin-left: 1.5%;
}

.army-title {
    font-family: olga;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 3vh;
    text-align: left;
    margin-left: 4vw;
}

.army-hr {
    width: 10vw;
    margin-left: 4vw;
}

.army-unit-line-wait {
    margin-left: 4vw;
    margin-bottom: 3vh;
    text-align: left;
    font-size: 1vw;
    width: 46vw;
    height: 8vh;
}

.army-unit-wait {
    display: none;
    line-height: 100%;
    width: 10%;
    height: 55%;
    vertical-align: middle;
    margin-right: 5%;
    margin-top: 3.8%;
    float: right;
    font-family: cuyabra;
    font-size: 1vw;
}

#army-stats {
    background: #D3D3D3;
    height: 7vh;
    font-size: 2vh;
}

#army-military-power {
    float: left;
    margin-left: 7.5vw;
    margin-top: 1vh;
}

#army-combat {
    float: left;
    margin-left: 7.5vw;
    margin-top: 1vh;
}

#army-combat-support {
    float: left;
    margin-left: 7.5vw;
    margin-top: 1vh;
}

.army-unit-dismiss {
    line-height: 100%;
    width: 10%;
    height: 55%;
    vertical-align: middle;
    margin-right: 5%;
    margin-top: 2.8%;
    float: right;
    background-color: white;
    border: 2px solid #555555;
    cursor: pointer;
    font-family: cuyabra;
    font-size: 0.8vw;
    outline: none;
}

.army-unit-dismiss:hover {
    background-color: #555555;
    color: white;
}

#dismiss {
    display: none;
    position: absolute;
    width: 15vw;
    height: 23vh;
    left: 52vw;
    top: 7vh;
    border: 1px solid black;
    background: white;
    font-family: cuyabra;
}

#close-dismiss {
    font-family: cuyabra;
    color: black;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 1vw;
    width: 2vw;
    height: 4vh;
}

#close-dismiss:hover {
    background-color: #D3D3D3;
}

#dismiss-amount {
    position: absolute;
    background-color: #D3D3D3;
    border: none;
    border-radius: 25px;
    font-family: cuyabra;
    text-align: center;
    outline: none;
    height: 3vh;
    width: 9vw;
    top: 5vh;
    left: 3vw;
}

#dismiss-combat {
    position: absolute;
    vertical-align: middle;
    left: 4.5vw;
    top: 10vh;
    height: 2vh;
}

#dismiss-combat img {
    width: 1.2vw;
    height: auto;
    vertical-align: middle;
}

#dismiss-combat-support {
    position: absolute;
    vertical-align: middle;
    left: 4.5vw;
    top: 13vh;
    height: 2vh;
}

#dismiss-combat-support img {
    width: 1.2vw;
    height: auto;
    vertical-align: middle;
}

#dismiss-gcph {
    position: absolute;
    vertical-align: middle;
    left: 4.5vw;
    top: 16vh;
    height: 2vh;
}

#dismiss-gcph img {
    width: 1.2vw;
    height: auto;
    vertical-align: middle;
}

#dismiss-submit {
    position: absolute;
    border: 1px solid black;
    border-color: #555555;
    background-color: white;
    color: black;
    font-family: cuyabra;
    outline: none;
    width: 4.5vw;
    height: 4vh;
    top: 21vh;
    left: 5.25vw;
    text-align: center;
    cursor: pointer;
    font-size: 0.8vw;
}

#dismiss-submit:hover {
    background-color: #555555;
    color: white;
}

#dismiss-plus {
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    top: 4.5vh;
    right: 1.5vw;
    width: 1.3vw;
    height: 2vh;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 0.8vw;
}

#dismiss-plus:hover {
    background-color: #D3D3D3;
}

#dismiss-minus {
    position: absolute;
    width: 7.8%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    top: 6.5vh;
    right: 1.5vw;
    width: 1.3vw;
    height: 2vh;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 0.8vw;
}

#dismiss-minus:hover {
    background-color: #D3D3D3;
}

#dismiss-name {
    position: absolute;
    width: 15vw;
    top: 1vh;
    text-align: center;
    font-size: 0.8vw
}