#classes {
	display: none;
    position: absolute;
    width: 57vw;
    height: 70vh;
    top: 15vh;
    left: 21.5vw;
}

#close-classes {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#classes-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 57vw;
}

#classes-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 63vh;
    width: 57vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.classes-type-line {
    margin-left: 4vw;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 3vh;
    float: left;
}

.classes-line {
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 1vw;
    margin-bottom: 4vh;
    width: 100%;
    float: left;    
}

.classes-line-name {
    text-align: left;
    display: inline-block;
    float: left;
    width: 9vw;
}

.classes-line-description {
    text-align: left;
    display: inline-block;
    float: left;
    margin-left: 3vw;
    width: 25vw;
    font-size: 0.9vw;
}

.classes-line-countered {
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 3vw;
    width: 10vw;
    font-size: 0.9vw;
}