#conquest {
	display: none;
    position: absolute;
    width: 70vw;
    height: 70vh;
    top: 15vh;
    left: 15vw;
}

#close-conquest {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#conquest-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 70vw;
}

#conquest-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 63vh;
    width: 70vw;
    overflow-y: auto;
}

#conquest-text {
    position: absolute;
    left: 3vw;
    top: 5vh;
    font-size: 0.8vw;
    text-align: left;
    width: 35vw;
    line-height: 3vh;
}

#conquest-required-military-power {
    position: absolute;
    background-color: #ff6666;
    color: white;
    left: 57vw;
    top: 3vh;
    width: 9vw;
    height: 9vw;
    border-radius: 25px;
    text-align: center;
}

#conquest-required-military-power div {
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#conquest-military-power {
    position: absolute;
    background-color: #4d79ff;
    color: white;
    left: 46vw;
    top: 3vh;
    width: 9vw;
    height: 9vw;
    border-radius: 25px;
    text-align: center;
}

#conquest-military-power div {
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#conquest-planets-div {
    position: absolute;
    left: 2vw;
    top: 26vh;
    text-align: left;
    width: 40vw;
}

.conquest-planet-line {
    margin-bottom: 3vh;
    font-family: olga;
    font-size: 2vw;
    cursor: pointer;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 25px;
}

.conquest-planet-line:hover {
    background-color: #d3d3d3;
}

.conquest-units { 
    margin-left: 1.5vw;
}

.conquest-units-title {
    font-size: 1vw;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.conquest-unit-line {
    margin-top: 2vh;
    height: 6vh;
}

.conquest-unit-line img {
    display: inline-block;
    width: 3vw;
    height: auto;
    vertical-align: middle;
    margin-right: 1vw;
}

.conquest-unit-line-name {
    display: inline-block;
    margin-right: 1vw;
    width: 7vw;
}

.conquest-unit-line-amount {
    display: inline-block;
    margin-right: 1vw;
    width: 9vw;
    font-size: 0.8vw;
    vertical-align: middle;
}

.conquest-unit-line-amount input {
    background-color: #d3d3d3;
    font-family: cuyabra;
    font-size: 0.8vw;
    outline: none;
    width: 4vw;
    border: none;
    padding-left: 0.5vw;
    height: 4vh;
    vertical-align: middle;
}

.conquest-unit-line-amount input::-webkit-inner-spin-button {  
    width: 2vw;
    height: 4vh;
    cursor: pointer;
    background-color: #d3d3d3;
    outline: none;
}

.conquest-unit-line-deploy:hover {
    color: white;
    background-color: #555555;
}

.conquest-unit-line-attack {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1vw;
    width: 3vw;
    text-align: center;
}

.conquest-unit-line-defense {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1vw;
    width: 3vw;
    text-align: center;
}

.conquest-unit-line-deploy {
    display: inline-block;
    border: 2px solid #555555;
    background-color: white;
    width: 5vw;
    height: 4vh;
    font-family: cuyabra;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
}

#conquest-conquer:not([disabled]) {
    position: absolute;
    left: 46vw;
    top: 12vw;
    border: 2px solid #555555;
    background-color: white;
    width: 20vw;
    height: 5vh;
    font-family: cuyabra;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
}

#conquest-conquer:not([disabled]):hover {
    background-color: #555555;
    color: white;
}

#conquest-conquer[disabled] {
    position: absolute;
    left: 46vw;
    top: 12vw;
    border: 2px solid #d3d3d3;
    background-color: white;
    width: 20vw;
    height: 5vh;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
}

#conquest-conquer[disabled]:hover {
    background-color: #d3d3d3;
    color: black;
}

#conquest-combat {
    position: absolute;
    left: 46vw;
    top: 17vw;
    width: 20vw;
    height: 5vh;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
}

#conquest-combat-support {
    position: absolute;
    left: 46vw;
    top: 19vw;
    width: 20vw;
    height: 5vh;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
}

#conquest-msg {    
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 18vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    top: 43vh;
    left: 46vw;
    width: 20vw;
    height: 5vh;
}