#development {
	display: none;
    position: absolute;
    width: 50vw;
    height: 63vh;
    top: 15vh;
    left: 25vw;
}

#close-development {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#development-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#development-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 56vh;
    width: 50vw;
    overflow-y: auto;
}

#development-level {
    position: absolute;
    right: 4vw;
    top: 4vh;
    font-family: cuyabra;
    font-size: 4vh;
    background-color: rgb(240, 136, 0);
    width: 10vw;
    padding-bottom: 3vh;
    padding-top: 3vh;
    line-height: 6vh;
    border-radius: 25px;
    text-align: center;
    color: white;
}

#development-upgrade {
    position: absolute;
    width: 10vw;
    background-color: white;
    border: 1px solid black;
    font-family: cuyabra;
    font-size: 2vh;
    cursor: pointer;
    top: 24vh;
    right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 35px;
    outline: none;
}

#development-upgrade img {
    height: 35px;
    width: auto;
    vertical-align: middle;
    left: 1vw;
}

#development-upgrade:hover {
    color: white;
    background-color: #555555;
}

#development-wait {
    position: absolute;
    top: 24vh;
    right: 6.5vw;
    font-family: cuyabra;
    font-size: 1vw;
}

#development-capacity {
    position: absolute;
    left: 4vw;
    top: 6vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#development-mine-1-max {
    position: absolute;
    left: 4vw;
    top: 12vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#development-mine-2-max {
    position: absolute;
    left: 4vw;
    top: 18vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#development-line {
    position: absolute;
    top: 23vh;
    width: 10vw;
    left: 4.2vw;
}

#development-next-level {
    position: absolute;
    left: 3.8vw;
    top: 28vh;
    font-family: olga;
    font-size: 2vw;
}

#development-next-capacity {
    position: absolute;
    left: 4vw;
    top: 35vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#development-next-mine-1-max {
    position: absolute;
    left: 4vw;
    top: 41vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#development-next-mine-2-max {
    position: absolute;
    left: 4vw;
    top: 47vh;
    font-family: cuyabra;
    font-size: 2vh;
}