#extended-item {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 10vh;
    left: 25vw;
}

#close-extended-item {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#extended-item-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
    font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#extended-item-content-div {
    position: absolute;
    top: 7vh;
    height: 68vh;
    width: 50vw;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}


#extended-item-name {
    position: absolute;
    top: 5vh;
    left: 2vw;
    display: block;
    text-align: left;
    font-family: olga;
    font-size: 3vw;
}

#extended-item-class {
    position: absolute;
    text-align: left;
    left: 2.3vw;
    top: 11vh;
    font-family: cuyabra;
    font-size: 2vw;
}

#extended-item-unit-image img {
    position: absolute;
    right: 2vw;
    top: 10vh;
    height: 40vh;
    width: auto;
}

#extended-item-amount {
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: cuyabra;
    left: 2vw;
    top: 20vh;
    width: 9vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1vw;
    outline: none;
}

#extended-item-plus {
    position: absolute;
	background: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 20.2vh;
    left: 12vw; 
    width: 1.2vw; 
    font-size: 0.7vw;
}

#extended-item-minus {
    position: absolute;
	background: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 22.3vh;
    left: 12vw;
    width: 1.2vw;
    font-size: 0.7vw;
}

#extended-item-plus:hover {
    background: #D3D3D3;
}

#extended-item-minus:hover {
    background: #D3D3D3;
}

#extended-item-attack {
    position: absolute;
    text-align: center;
    display: block;
    top: 26vh;
    left: 3vw;
    font-size: 1vw;
}

#extended-item-defense {
    position: absolute;
    text-align: center;
    display: block;
    top: 26vh;
    left: 8.5vw;
    font-size: 1vw;
}

#extended-item-cost {
    position: absolute;
    left: 3vw;
    top: 33vh;
    display: block;
    text-align: left;
    font-size: 1vw;
}

#extended-item-resource-1 {
    margin-top: 1vh;
}

#extended-item-resource-2 {
    margin-top: 1vh;
}

#extended-item-combat {
    margin-top: 1vh;
}

#extended-item-combat-support {
    margin-top: 1vh;
}

#extended-item-gcph {
    margin-top: 1vh;
}

#extended-item-cost img {
    height: 4vh;
    width: auto;
    vertical-align: middle;
}

#extended-item-buy {
    position: absolute;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    outline: none;
    font-family: cuyabra;
    left: 4vw;
    top: 62vh;
    font-size: 1vw;
    width: 5vw;
    height: 4vh;
}

#extended-item-buy:hover {
    background-color: #555555;
    color: white;
}

#extended-item-msg {
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 15vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1vw;
    top: 53vh;
    right: 4.6vw;
}