#friendlist {
	display: none;
    position: absolute;
    width: 24vw;
    height: 75vh;
    top: 10vh;
    left: 38vw;
}

#close-friendlist {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#friendlist-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 24vw;
}

#friendlist-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 68vh;
    width: 24vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#friendlist-add-friend-input {
    position: absolute;
    width: 10vw;
    left: 4vw;
    background-color: #707070;
    border: none;
    border-radius: 25px;
    font-family: cuyabra;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 1.35vh;
    height: 4.3vh;
    font-size: 1vw;
    color: #d3d3d3;
    outline: none;
}

#friendlist-add-button {
    position: absolute;
    left: 17vw;
    background-color: #d3d3d3;
    border: 2px solid #555555;
    outline: none;
    font-family: cuyabra;
    font-size: 1vw;
    border-radius: 15px;
    cursor: pointer;
    height: 4.6vh;
    top: 1.35vh;
}

#friendlist-add-button:hover {
    background-color: #555555;
    color: white;
}


#friendlist-add-friend {
    background: #D3D3D3;
    height: 7vh;
}

#friendlist-header {
    margin-top: 1vh;
    text-align: left;
    font-size: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh; 
    margin-left: 2vw;
}

.friendlist-line {
    margin-top: 1vh;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
    height: 1vw;
}

.friendlist-line:hover {
    background-color: #d3d3d3;
}

.friendlist-line-nickname {
    display: inline-block;
    margin-left: 2vw;
    width: 6vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 1vw;
}

.friendlist-line-x {
    display: inline-block;
    font-size: 1vw;
    float: right;
    margin-right: 2vw;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 100%;
    border-radius: 25px;
}

.friendlist-line-x img {
    height: 100%;
    width: auto;
}

.friendlist-line-v { 
    display: inline-block;
    float: right;
    margin-right: 2vw;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 100%;
    border-radius: 25px;
}

.friendlist-line-v img {
    height: 100%;
    width: auto;
}

.friendlist-line-x:hover {
    background-color: #555555;
}

.friendlist-line-v:hover {
    background-color: #555555;
}

.friendlist-hr {
    margin-left: 2vw;
    width: 20vw;
    margin-top: 1vh;
}

#friendlist-msg-div {
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    bottom: 3vh;
    left: 5vw;
    width: 12vw;
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 1;
}