#galaxy-navigate-div {
	position: absolute;
	height: 15%;
	width: 20%;
	left: 78%;
    top: 2%;
	font-family: olga;
	font-size: 4vh;
	color: black;
	background: white;
	z-index: 1;
}
#galaxy-jump {
	position: absolute;
	background-color: white;
    color: black;
    border: 2px solid #555555;
	width: 25%;
	height: 25%;
	margin-top: 38.5%;
	padding-left: 3%;
	margin-left: 37%;
    cursor: pointer;	
	font-family: cuyabra;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	outline: none;
}
#galaxy-jump:hover {
	background-color: #555555;
	color: white;
	outline: none;
}
#galaxyX {	
	background: #D3D3D3;
	text-align: center;
	height: 4vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 20px;	
}
#galaxyY {	
	background: #D3D3D3;
	text-align: center;
	height: 4vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 20px;	
}
#galaxyX-div {
	position: absolute;
	left: 10%;
	padding-top: 12.5%;
}
#galaxyY-div {
	position: absolute;
	right: 10%;
	padding-top: 12.5%;
}