body {
	margin: 0;
	overflow: hidden;
}

.transition {	
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.invisible {
    display: none;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.bold {
	font-weight: bold;
}

#canvas {
	width: 100%;
	height: 100%;
}

#back-div {
	left: 2%;
	top: 8%;
	position: absolute;
	color: white;
	font-family: cuyabra;
	font-size: 4vh;
}

#back-div a {
	text-decoration: none;
	color: white;
}

@font-face {
	font-family: olga;
	src: url('../fonts/olga/olga.ttf');
}

@font-face {
	font-family: cuyabra;
	src: url('../fonts/cuyabra/cuyabra.otf');
}