#index {
	display: none;
    position: absolute;
    width: 50vw;
    height: 54vh;
    top: 15vh;
    left: 25vw;
}

#close-index {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#index-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#index-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 47vh;
    width: 50vw;
    overflow-y: auto;
}

#index-military-classes {
    position: absolute;
    top: 6vh;
    left: 4vw;
    height: 35vh;
    width: 20vw;
    background-color: white;
    border: 2px solid #555555;
    font-family: cuyabra;
    font-size: 1.5vw;
    cursor: pointer;
    outline: none;
}

#index-military-classes:hover {
    background-color: #555555;
    color: white;
}

#index-resources {
    position: absolute;
    top: 6vh;
    right: 4vw;
    height: 35vh;
    width: 20vw;
    background-color: white;
    border: 2px solid #555555;
    font-family: cuyabra;
    font-size: 1.5vw;
    cursor: pointer;
    outline: none;
}

#index-resources:hover {
    background-color: #555555;
    color: white;
}