#make-message {
	display: none;
    position: absolute;
    width: 50vw;
    height: 61vh;
    top: 10vh;
    left: 25vw;
}

#close-make-message {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#make-message-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#make-message-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 54vh;
    width: 50vw;
}

#make-message-recipient {
    position: absolute;
    font-size: 1vw;
    top: 6vh;
    left: 4vw;    
}

#make-message-recipient-input {
    position: absolute;
    background: #d3d3d3;
    border: none;
    width: 20vw;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 5vh;
}

#make-message-topic {
    position: absolute;
    font-size: 1vw;
    top: 12vh;
    left: 4vw;    
}

#make-message-topic-input {
    position: absolute;
    background: #d3d3d3;
    border: none;
    width: 20vw;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 11vh;
}

#make-message-message {
    position: absolute;
    font-size: 1vw;
    top: 22vh;
    left: 4vw;       
}

#make-message-message-textarea {
    position: absolute;
    background: #d3d3d3;
    border: none;
    width: 35vw;
    height: 20vh;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 21vh;
}

#make-message-send {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 22.5vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 46vh;
}

#make-message-send:hover {
    background-color: #555555;
    color: white;
}

#make-message-msg {   
    display: none; 
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    top: 6vh;
    right: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
}