#messages {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 10vh;
    left: 25vw;
}

#close-messages {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#messages-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#messages-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 68vh;
    width: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages-buttons {
    background: #D3D3D3;
    height: 7vh;
}

#messages-new-message {
    position: absolute;
    left: 4vw;
    top: 1.3vh;
    border: 2px solid #555555;
    border-radius: 25px;
    font-size: 1.1vw;
    cursor: pointer;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 15px;
}

#messages-new-message:hover {
    background-color: #555555;
    color: white;
}

#messages-buttons-line {
    position: absolute;
    border-right: 1px solid black;
    width: 0vw;
    height: 4.9vh;
    left: 14vw;
    top: 1.2vh;
}

#messages-inbox {
    position: absolute;
    right: 14vw;
    top: 1.3vh;
    border: 2px solid #555555;
    border-radius: 25px;
    font-size: 1.1vw;
    cursor: pointer;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 15px;
}

#messages-inbox:hover {
    background-color: #555555;
    color: white;
}

#messages-outbox {
    position: absolute;
    right: 4vw;
    top: 1.3vh;
    border: 2px solid #555555;
    border-radius: 25px;
    font-size: 1.1vw;
    cursor: pointer;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 15px;
}

#messages-outbox:hover {
    background-color: #555555;
    color: white;
}

.message-inbox-line {
    margin-top: 1vh;
    text-align: left;
    font-size: 0.8vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    cursor: pointer;
}

.message-inbox-line:hover {
    background-color: #d3d3d3;
}

.message-outbox-line {
    margin-top: 1vh;
    text-align: left;
    font-size: 0.8vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    cursor: pointer;
}

.message-outbox-line:hover {
    background-color: #d3d3d3;
}

.message-line-nickname {
    display: inline-block;
    margin-left: 4vw;
    width: 6vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.message-line-topic {
    display: inline-block;
    margin-left: 3vw;
    width: 25vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.message-line-time {
    display: inline-block;
    margin-left: 3vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.message-hr {
    margin-left: 4vw;
    width: 42vw;
    margin-top: 1vh;
}