#message {
	display: none;
    position: absolute;
    width: 50vw;
    height: 61vh;
    top: 10vh;
    left: 25vw;
}

#close-message {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#message-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#message-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 54vh;
    width: 50vw;
}

#message-sender-recipient {
    position: absolute;
    font-size: 1vw;
    top: 6vh;
    left: 4vw;    
}

#message-sender-recipient-div {
    position: absolute;
    border: 1px solid black;
    width: 20vw;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 5vh;
    text-align: left;
}

#message-topic {
    position: absolute;
    font-size: 1vw;
    top: 12vh;
    left: 4vw;    
}

#message-topic-div {
    position: absolute;
    border: 1px solid black;
    width: 20vw;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 11vh;
    text-align: left;
}

#message-message {
    position: absolute;
    font-size: 1vw;
    top: 22vh;
    left: 4vw;       
}

#message-message-div {
    position: absolute;
    border: 1px solid black;
    width: 35vw;
    height: 20vh;
    border-radius: 25px;
    font-family: cuyabra;
    font-size: 1vw;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    left: 10vw;
    top: 21vh;
    text-align: left;
    white-space: pre-wrap;
}

#message-respond {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 22.5vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 46vh;
}

#message-respond:hover {
    background-color: #555555;
    color: white;
}