#military-shop {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 10vh;
    left: 25vw;
}

#close-military-shop {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#military-shop-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
    font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#military-shop-content-div {
    position: absolute;
    top: 7vh;
    height: 68vh;
    width: 50vw;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

.unit {
    display: inline-block;
    width: 10vw;
    height: 31vh;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 2vh;
}

.unit:hover{
    background-color: #D3D3D3;
}

.unit-image {
    margin-top: 3vh;
    height: 14vh;
    width: auto;
    border-radius: 25px;
}

.unit-class {
    margin-top: 2vh;
}

.unit-resources {
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
}

.unit-resources img {
    height: 3.5vh;
    width: auto;
}

#military-shop-categories {
    background: #D3D3D3;
    padding-top: 2.3vh;
    padding-bottom: 2.3vh;
    width: 50vw;
    font-size: 1.1vw;
    font-family: cuyabra;
    font-size: 1.1vw;
    text-align: center;
    margin-bottom: 2vh;
}

.military-shop-category {
    display: inline;
    border: 2px solid #555555;
    margin-right: 3vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.military-shop-category:hover {
    background-color: #555555;
    color: white;
}