#mines {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 15vh;
    left: 25vw;
}

#close-mines {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mines-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#mines-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 68vh;
    width: 50vw;
    overflow-y: auto;
}

#mine-1-name {
    position: absolute;
    left: 3.8vw;
    top: 6vh;
    font-family: olga;
    font-size: 2vw;
}

#mine-1-level {
    position: absolute;
    left: 4vw;
    top: 12vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-1-workers {
    position: absolute;
    left: 4vw;
    top: 18vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-1-per-hour {
    position: absolute;
    left: 4vw;
    top: 24vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-1-per-hour img {
    width: 2vw;
    height: auto;
    vertical-align: middle;
}

#mine-1-image {
    position: absolute;
    right: 4vw;
    top: 6vh;
    width: 8vw;
}

#mine-1-image img {
    width: 100%;
    height: auto;
}

#mine-1-upgrade {
    position: absolute;
    border: 1px solid #555555;
    font-family: cuyabra;
    background-color: white;
    font-size: 2vh;
    cursor: pointer;
    top: 23vh;
    right: 4vw;
    width: 8vw;
    height: 9vh;
    line-height: 30px;
    outline: none;
}

#mine-1-upgrade:hover {
    background-color: #555555;
    color: white;
}

#mine-1-upgrade img {
    width: 1.8vw;
    height: auto;
    vertical-align: middle;
}

#mines-line {
    position: absolute;
    top: 32vh;
    left: 4vw;
    width: 15vw;
}

#mine-2-name {
    position: absolute;
    left: 3.8vw;
    top: 38vh;
    font-family: olga;
    font-size: 2vw;
}

#mine-2-level {
    position: absolute;
    left: 4vw;
    top: 44vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-2-workers {
    position: absolute;
    left: 4vw;
    top: 50vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-2-per-hour {
    position: absolute;
    left: 4vw;
    top: 56vh;
    font-family: cuyabra;
    font-size: 2vh;
}

#mine-2-per-hour img {
    width: 2vw;
    height: auto;
    vertical-align: middle;
}

#mine-2-image {
    position: absolute;
    right: 4vw;
    top: 38vh;
    width: 8vw;
}

#mine-2-image img {
    width: 100%;
    height: auto;
}

#mine-2-upgrade {
    position: absolute;
    border: 1px solid #555555;
    font-family: cuyabra;
    background-color: white;
    font-size: 2vh;
    cursor: pointer;
    top: 55vh;
    right: 4vw;
    width: 8vw;
    height: 9vh;
    line-height: 30px;
    outline: none;
}

#mine-2-upgrade:hover {
    background-color: #555555;
    color: white;
}

#mine-2-upgrade img {
    width: 1.8vw;
    height: auto;
    vertical-align: middle;
}

#wait-1 {
    position: absolute;
    font-family: cuyabra;
    font-size: 2vh;
    cursor: pointer;
    top: 23vh;
    right: 4vw;
    width: 8vw;
    height: 9vh;
    line-height: 30px;
}

#wait-2 {
    position: absolute;
    font-family: cuyabra;
    font-size: 2vh;
    cursor: pointer;
    top: 55vh;
    right: 4vw;
    width: 8vw;
    height: 9vh;
    line-height: 30px;
}

#error-1 {
    display: none;
    position: absolute;
    background-color: rgb(248, 79, 79);
    border: 1px solid black;
    border-radius: 25px;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 1%;
    padding-left: 1%;
    font-family: cuyabra;
    font-size: 20px;
    text-align: center;
    left: 40%;
    top: 30.7%;
}

#error-2 {
    display: none;
    position: absolute;
    background-color: rgb(248, 79, 79);
    border: 1px solid black;
    border-radius: 25px;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 1%;
    padding-left: 1%;
    font-family: cuyabra;
    font-size: 20px;
    text-align: center;
    left: 40%;
    top: 67.7%;
}