#notifications {
    position: absolute;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    width: 0vw;
    height: 65vh;
    top: 22vh;
    left: 0.5vw;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

#notifications-empty {
    margin-top: 2vh;
    text-align: left;
    font-size: 1vw;
    width: 100%;
    text-align: center;
}

.notifications-line:hover {
    background-color: #d3d3d3;
}

.notifications-line {
    width: 18vw;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5vh;
    cursor: pointer;
    font-size: 0.8vw;
}

.notification-line-resources {
    width: 7vw;
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 6.5vw;
}

.notifications-line img {
    width: 1vw;
    height: auto;
    vertical-align: middle;
}

.notifications-line-date {
    font-size: 1vh;
    color: grey;
}

.notifications-hr {
    width: 14vw;
    margin-left: 3vw;
}