#header-div {
	position: absolute;
	width: 30vw;
	right: 3vw;
	top: 11vh;
	text-align: center;
	font-family: olga;
	font-size: 7vh;
	color: white;
}

#header-hr {
	position: absolute;
	right: 13vw;
	top: 19vh;
	width: 10vw;
	color: white;
}

#controls-div {
	position: absolute;
	width: 30vw;
	top: 21vh;
	right: 3vw;
	text-align: center;
	padding-top: 4vh;
	font-family: cuyabra;
	font-size: 20px;
	background: white;
	border-radius: 10px;
	padding-bottom: 4vh;
	min-height: 50vh;
}

#planet-text {
	width: 25vw;
	left: 2vw;
	text-align: center;
	font-size: 2vh;
	margin-left: 2.5vw;
}

#planet-stats {
	margin-top: 10vh;
}

.planet-stats-div {
	margin-left: 2vw;
	width: 20vw;
	line-height: 3vh;
	vertical-align: middle;
	border-radius: 25px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 2vh;
	text-align: left;
	padding-left: 1vw;
}

.planet-stats-div-resource-img {
	width: 1.8vw;
	height: auto;
	vertical-align: middle;
	margin-left: 0.8vw;
}

.planet-stats-hr {
	width: 24vw;
	margin-left: 3vw;
}

#profile-button {
	background-color: white;
	font-size: 2vh;
	outline: none;
	border: 2px solid #555555;
	border-radius: 15px;
	font-family: cuyabra;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	height: 4vh;
	width: 4vw;
	margin-left: 0.8vw;
}

#profile-button:hover {
	background-color: #555555;
	color: white;
}	

#actions {
	margin-top: 6vh;
	width: 100%;
}

.action {
	text-align: center;
	border: 2px solid #555555;
	background-color: white;
	font-family: cuyabra;
	font-size: 1vw;
	cursor: pointer;
	height: 5vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin: auto;
	outline: none;
}

.action-long {
	display: block;
	width: 14vw;
}

.action:hover {
	background-color: #555555;
	color: white;
}

#planet-wait {
	width: 100%;
	font-size: 2vh;
	text-align: center;
	margin-top: 5vh;
}