#header-div {
	position: absolute;
	width: 30vw;
	right: 3vw;
	top: 11vh;
	text-align: center;
	font-family: olga;
	font-size: 7vh;
	color: white;
}

#header-hr {
	position: absolute;
	right: 13vw;
	top: 19vh;
	width: 10vw;
	color: white;
}

#controls-div {
	position: absolute;
	width: 30vw;
	top: 21vh;
	right: 3vw;
	text-align: center;
	padding-top: 4vh;
	font-family: cuyabra;
	font-size: 20px;
	background: white;
	border-radius: 10px;
	padding-bottom: 4vh;
	min-height: 50vh;
}

#planet-text {
	width: 25vw;
	left: 2vw;
	text-align: center;
	font-size: 2vh;
	margin-left: 2.5vw;
}

#planet-buttons {
	margin-top: 10vh;
}

.planet-button-div {
	cursor: pointer;
	margin-left: 2vw;
	width: 20vw;
	line-height: 3vh;
	vertical-align: middle;
	border-radius: 25px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 2vh;
	text-align: left;
	padding-left: 1vw;
}

.planet-button-div img {
	width: 1.8vw;
	height: auto;
	vertical-align: middle;
	padding-right: 3vw;
}

.planet-button-div:hover {
	background-color: #d3d3d3;
}

.planet-button-hr {
	width: 24vw;
	margin-left: 3vw;
}

#population-stats {
	margin-top: 3vh;
}

.population-stats-div {
	margin-left: 2vw;
	width: 20vw;
	line-height: 3vh;
	vertical-align: middle;
	border-radius: 25px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 2vh;
	text-align: left;
	padding-left: 1vw;
}

.population-stats-hr {
	width: 14vw;
	margin-left: 3vw;
}

#planet-text-2 {
	width: 25vw;
	margin-left: 2vw;
	text-align: center;
	font-size: 2vh;
	margin-left: 2.5vw;
	margin-top: 3vh;
}

#population-buttons {
	margin-top: 4vh;
}

#population-choice-peace-text {
	display: none;
	position: absolute;
	width: 30vw;
	top: 50vh;
	right: 34vw;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: cuyabra;
	font-size: 2vh;
	background: white;
	border-radius: 10px;
}

#population-choice-slavery-text {
	display: none;
	position: absolute;
	width: 30vw;
	top: 55vh;
	right: 34vw;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: cuyabra;
	font-size: 2vh;
	background: white;
	border-radius: 10px;
}

#population-choice-extermination-text {
	display: none;
	position: absolute;
	width: 30vw;
	top: 65vh;
	right: 34vw;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: cuyabra;
	font-size: 2vh;
	background: white;
	border-radius: 10px;
}

#planet-wait {
	position: absolute;
	width: 100%;
	font-size: 2.5vh;
	text-align: center;
	top: 15vh;
}