#population {
	display: none;
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 15vh;
    left: 25vw;
}

#close-population {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#population-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#population-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 68vh;
    width: 50vw;
    overflow-y: auto;
}

#population-capacity {
    position: absolute;
    font-size: 1.7vw;
    left: 4vw;
    top: 6vh;
} 

#population-size {
    position: absolute;
    font-size: 1.7vw;
    left: 4vw;
    top: 13vh;
}

#population-hr {
    position: absolute;
    font-size: 1.7vw;
    left: 4vw;
    top: 18vh;
    width: 12vw;
}

#population-combat-ready {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 23vh;
}

#population-combat-support-ready {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 27vh;
}

#population-state {
    position: absolute;
    font-size: 1.2vw;
    top: 5vh;
    right: 4vw;
    border: 3px solid green;
    border-radius: 50%;
    vertical-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    width: 11vw;
}

#population-state:hover {
    border-width: 4px;
    background-color: #D3D3D3;
}

#population-gc-payers-name {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 34vh;
}

#population-gc-payers-meter {
    position: absolute;
    top: 34vh;
    left: 10vw;
    width: 25vw;
    height: 2.5vh;
    border: 1px solid black;
    border-radius: 25px;
}

#population-gc-payers-marked {
    position: absolute;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.2;
    z-index: 420;
}

#population-gc-payers-number {
    position: absolute;
    top: 10%;
    width: 100%;
}

#population-resource-1-workers-name {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 41vh;
    width: 4vw;
}

#population-resource-1-workers-meter {
    position: absolute;
    top: 42vh;
    left: 10vw;
    width: 25vw;
    height: 2.5vh;
    border: 1px solid black;
    border-radius: 25px;
}

#population-resource-1-workers-marked {
    position: absolute;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.2;
    z-index: 420;
}

#population-resource-1-workers-number {
    position: absolute;
    top: 10%;
    width: 100%;
}

#population-resource-1-per-hour {
    position: absolute;
    top: 41.5vh;
    left: 39vw;
    vertical-align: middle;
    line-height: 100%;
    text-align: left;
}

#population-resource-1-per-hour img {
    height: 3.5vh;
    width: auto;
    vertical-align: middle;
}

#population-resource-2-workers-name {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 49vh;
    width: 4vw;
}

#population-resource-2-workers-meter {
    position: absolute;
    top: 50vh;
    left: 10vw;
    width: 25vw;
    height: 2.5vh;
    border: 1px solid black;
    border-radius: 25px;
}

#population-resource-2-workers-marked {
    position: absolute;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.2;
    z-index: 420;
}

#population-resource-2-workers-number {
    position: absolute;
    top: 10%;
    width: 100%;
}

#population-resource-2-per-hour {
    position: absolute;
    top: 49.5vh;
    left: 39vw;
    vertical-align: middle;
    line-height: 100%;
    text-align: left;
}

#population-resource-2-per-hour img {
    height: 3.5vh;
    width: auto;
    vertical-align: middle;
}

#population-resource-1-workers-plus {
    position: absolute;
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 41.5vh;
    left: 36vw;
    width: 1.2vw; 
    font-size: 0.7vw;
}

#population-resource-1-workers-plus:hover {
    background-color: #d3d3d3;
}

#population-resource-1-workers-minus {
    position: absolute;
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 43.5vh;
    left: 36vw;
    width: 1.2vw; 
    font-size: 0.7vw;
}

#population-resource-1-workers-minus:hover {
    background-color: #d3d3d3;
}

#population-resource-2-workers-plus {
    position: absolute;
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 49.5vh;
    left: 36vw;
    width: 1.2vw; 
    font-size: 0.7vw;
}

#population-resource-2-workers-plus:hover {
    background-color: #d3d3d3;
}

#population-resource-2-workers-minus {
    position: absolute;
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
    outline: none;
    top: 51.5vh;
    left: 36vw;
    width: 1.2vw; 
    font-size: 0.7vw;
}

#population-resource-2-workers-minus:hover {
    background-color: #d3d3d3;
}

#population-save {   
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 4vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 59vh;
}

#population-save:hover {
    background-color: #555555;
    color: white;
}

#population-msg {
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 15vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    top: 58.5vh;
    right: 4.6vw;
}