#profile {
	display: none;
    position: absolute;
    width: 50vw;
    height: 55vh;
    top: 15vh;
    left: 25vw;
}

#close-profile {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#profile-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#profile-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 48vh;
    width: 50vw;
}

#profile-player {
    position: absolute;
    font-size: 1vw;
    top: 6vh;
    left: 4vw;
}

#profile-player-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 5vh;
}

#profile-race {
    position: absolute;
    font-size: 1vw;
    top: 12vh;
    left: 4vw;
}

#profile-race-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 11vh;
}

#profile-empire {
    position: absolute;
    font-size: 1vw;
    top: 18vh;
    left: 4vw;
}

#profile-empire-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 17vh;
}

#profile-honor {
    position: absolute;
    background-color: rgb(102, 153, 255);
    top: 3vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#profile-empire-rank {
    position: absolute;
    background-color: rgb(102, 153, 255);
    top: 18vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#profile-military-rank {
    position: absolute;
    background-color: rgb(0, 204, 153);
    top: 33vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#profile-line {
    position: absolute;
    border-right: 1px solid black;
    width: 0vw;
    height: 23vh;
    left: 36vw;
    top: 5vh;
}

#profile-planets {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 26vh;
}

#profile-military-power {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 32vh;
}

#profile-survivability {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 6vh;
}

#profile-breed-rate {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 12vh;
}

#profile-intellegence {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 18vh;
}

#profile-combat-instincts {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 24vh;
}

#profile-save {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 4vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 40vh;
}

#profile-save:hover {
    background-color: #555555;
    color: white;
}

#profile-lore-button {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    right: 5.5vw;
    width: 6vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 32vh;
}

#profile-lore-button:hover {
    background-color: #555555;
    color: white;
}

#profile-make-message-button {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    right: 5.5vw;
    width: 6vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 38vh;
}

#profile-make-message-button:hover {
    background-color: #555555;
    color: white;
}

#profile-msg {    
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 15vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    top: 38.8vh;
    left: 20vw;
}