#header-div {
	position: absolute;
	height: 10vh;
	width: 25vw;
	left: 37.5vw;
	top: 8vh;
	text-align: center;
	font-family: olga;
	font-size: 9vh;
	color: white;
}

#header-div hr {
	width: 6vw;
}

#content-div {
	position: absolute;
	height: 65vh;
	width: 80vw;
	top: 21vh;
	left: 10vw;
	text-align: center;
	font-family: cuyabra;
	padding-top: 4vh;
	font-size: 20px;
	background: white;
}

#race-name {
	position: absolute;
	display: block;
	background: #D3D3D3;
	text-align: center;
	width: 20vw;
	left: 30vw;
	top: 12vh;
	padding-top: 1.2vh;
	padding-bottom: 1.2vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 1vw;    
}

#empire-name {
	position: absolute;
	display: block;
	background: #D3D3D3;
	text-align: center;
	width: 20vw;
	left: 30vw;
	top: 20vh;
	padding-top: 1.2vh;
	padding-bottom: 1.2vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 1vw;  
}

#lore {
	position: absolute;
	display: block;
	background: #D3D3D3;
	text-align: center;
	width: 50vw;
	left: 15vw;
	top: 29vh;
	padding-top: 3vh;
	height: 17vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 1vw;  
}

#error {
	display: none;
	position: absolute;
	background-color: rgb(248, 79, 79);
	font-family: cuyabra;
	font-size: 1vw;
	border: 1px solid black;
	border-radius: 25px;
	width: 30vw;
	top: 72vh;
	left: 35vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
}

#next {
	position: absolute;
    color: black;
    border: 2px solid #555555;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
	font-family: cuyabra;
    background: white;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	width: 7vw;
	top: 66.3vh;
	left: 36.5vw;
}

#next:hover{
    background-color: #555555;
    color: white;
}

.line {
	text-align: left;
	margin-left: 4vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
}

.name {
	display: inline-block;
	width: 8vw;
	padding-right: 1vw;
}

.meter {
	display: inline;
}

.point {
	display: inline;
	padding-right: 2vw;
	border: 1px solid black;
}

.plus {
	display: inline;
	background: white;
	border: 1px solid black;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	text-align: center;
	vertical-align: middle;
	margin-top: -30px;
	width: 25px;
}

.plus:hover {
	background: #D3D3D3;
}

.minus {
	display: inline;
	background: white;
	border: 1px solid black;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	text-align: center;
	vertical-align: middle;
	margin-bottom: -16px;
	margin-left: -32px;
	width: 25px;
}

.minus:hover {
	background: #D3D3D3;
}

.description {
	display: inline-block;
	font-size: 0.8vw;
	width: 28vw;
	margin-left: 3vw;
	line-height: 2.5vh;
	text-align: center;
	vertical-align: middle;
}

#submit {
	display: none;
	position: absolute;
    color: black;
    border: 2px solid #555555;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
	font-family: cuyabra;
    background: white;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	width: 7vw;
	top: 87.2vh;
	left: 46.5vw;
}

#submit:hover{
    background-color: #555555;
    color: white;
}