#resources {
	display: none;
    position: absolute;
    width: 56vw;
    height: 70vh;
    top: 15vh;
    left: 22vw;
}

#close-resources {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#resources-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 56vw;
}

#resources-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 63vh;
    width: 56vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.resources-resource {
    display: inline-block;
    margin-left: 4vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    float: left;
    vertical-align: middle;
}

.resources-resource-img {
    display: inline-block;
    float: left;
    height: 100%;
    width: auto;
}

.resources-resource-description {
    position: relative;
    display: inline-block;
    float: left;
    width: 14vw;
    margin-top: 3vh;
    margin-left: 2vw;
    font-size: 0.9vw;
    text-align: left;
}