#scoreboards {
	display: none;
    position: absolute;
    width: 70vw;
    height: 67vh;
    top: 15vh;
    left: 15vw;
}

#close-scoreboards {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#scoreboards-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 70vw;
}

#scoreboards-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 60vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#scoreboards-planets-title {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 6vh;
    width: 29vw;
}

#scoreboards-planets-table {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 10vh;
    background-color: #d3d3d3;
    width: 29vw;
    border: none;
    border-radius: 25px;
}

#scoreboards-military-power-title {
    position: absolute;
    font-size: 1vw;
    right: 4vw;
    top: 6vh;
    width: 29vw;
}

#scoreboards-military-power-table {
    position: absolute;
    font-size: 1vw;
    right: 4vw;
    top: 10vh;
    background-color: #d3d3d3;
    width: 29vw;
    border: none;
    border-radius: 25px;
}

.scoreboards-line {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 0.8vw;
    text-align: left;
    cursor: pointer;
}

.scoreboards-line:hover {
    background-color: #707070
}

.scoreboards-rank {
    display: inline-block;
    margin-left: 1vw;
    width: 2vw;
    text-align: center;
}

.scoreboards-nickname {
    display: inline-block;
    margin-left: 2.3vw;
    width: 7vw;
    text-align: center;
}

.scoreboards-empire-name {
    display: inline-block;
    margin-left: 2.3vw;
    width: 7vw;
    text-align: center;
}

.scoreboards-score {
    display: inline-block;
    margin-right: 1vw;
    width: 3vw;
    text-align: center;
    float: right;
}

.scoreboards-line-top {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 0.8vw;
    text-align: left;
    font-weight: bold;
}

.scoreboards-rank-top {
    display: inline-block;
    margin-left: 1vw;
    width: 2vw;
    text-align: center;
}

.scoreboards-nickname-top {
    display: inline-block;
    margin-left: 2.3vw;
    width: 7vw;
    text-align: center;
}

.scoreboards-empire-name-top {
    display: inline-block;
    margin-left: 2.3vw;
    width: 7vw;
    text-align: center;
}

.scoreboards-score-top {
    display: inline-block;
    margin-right: 1vw;
    width: 3vw;
    text-align: center;
    float: right;
}