#self-lore {
	display: none;
    position: absolute;
    width: 50vw;
    height: 55vh;
    top: 15vh;
    left: 25vw;
}

#close-self-lore {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#self-lore-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#self-lore-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 48vh;
    width: 50vw;
}

#self-lore-box {
    position: absolute;
    text-align: center;
    font-family: cuyabra;
    font-size: 1vw;
    background-color: #D3D3D3;
    width: 40vw;
    height: 30vh;
    padding-top: 2vh;
    border-radius: 25px;
    border: none;
    outline: none;
    left: 5vw;
    top: 5vh;
}

#self-lore-save {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 22.5vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 40vh;
}

#self-lore-save:hover {
    background-color: #555555;
    color: white;
}

#self-lore-msg {
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: #28A853;
    font-family: cuyabra;
    width: 15vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1vw;
    top: 39.2vh;
    left: 5vw;
}