#self-profile {
	display: none;
    position: absolute;
    width: 50vw;
    height: 57vh;
    top: 15vh;
    left: 25vw;
}

#close-self-profile {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#self-profile-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#self-profile-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
}

#self-profile-player {
    position: absolute;
    font-size: 1vw;
    top: 6vh;
    left: 4vw;
}

#self-profile-player-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 5vh;
}

#self-profile-race {
    position: absolute;
    font-size: 1vw;
    top: 12vh;
    left: 4vw;
}

#self-profile-race-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 11vh;
}

#self-profile-empire {
    position: absolute;
    font-size: 1vw;
    top: 18vh;
    left: 4vw;
}

#self-profile-empire-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 17vh;
}

#self-profile-email {
    position: absolute;
    font-size: 1vw;
    top: 24vh;
    left: 4vw;
}

#self-profile-email-input {
    position: absolute;
    background: #D3D3D3;
    border: none;
    border-radius: 25px;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    outline: none;
    font-size: 1vw;
    font-family: cuyabra;
    left: 9vw;
    top: 23vh;
}

#self-profile-honor {
    position: absolute;
    background-color: #ff9966;
    top: 3vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#self-profile-empire-rank {
    position: absolute;
    background-color: rgb(102, 153, 255);
    top: 18vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#self-profile-military-rank {
    position: absolute;
    background-color: rgb(0, 204, 153);
    top: 33vh;
    left: 25vw;
    width: 7vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 25px;
    line-height: 1.5vw;
    font-size: 0.8vw;
    color: white;
}

#self-profile-line {
    position: absolute;
    border-right: 1px solid black;
    width: 0vw;
    height: 23vh;
    left: 36vw;
    top: 5vh;
}

#self-profile-planets {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 30vh;
}

#self-profile-military-power {
    position: absolute;
    font-size: 1vw;
    left: 4vw;
    top: 36vh;
}

#self-profile-survivability {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 6vh;
}

#self-profile-breed-rate {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 12vh;
}

#self-profile-intellegence {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 18vh;
}

#self-profile-combat-instincts {
    position: absolute;
    font-size: 1vw;
    left: 38vw;
    top: 24vh;
}

#self-profile-save {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    left: 4vw;
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 42vh;
}

#self-profile-save:hover {
    background-color: #555555;
    color: white;
}

#self-profile-lore-button {
    position: absolute; 
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: cuyabra;
    right: 5.5vw;
    width: 6vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    top: 32vh;
}

#self-profile-lore-button:hover {
    background-color: #555555;
    color: white;
}

#self-profile-msg {    
    display: none;
    position: absolute;
	text-align: center;
	border: 1px solid black;
    border-radius: 25px;
	background-color: rgb(248, 79, 79);
    font-family: cuyabra;
    width: 11vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 1vw;
    top: 39vh;
    right: 2vw;
}