#shield {
	display: none;
    position: absolute;
    width: 50vw;
    height: 70vh;
    top: 15vh;
    left: 25vw;
}

#close-shield {
    position: absolute;
    color: white;
    font-family: cuyabra;
	font-size: 2vw;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#shield-header-div {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: olga;
	font-size: 3vw;
    color: white;
    text-align: center;
    width: 50vw;
}

#shield-content-div {
    position: absolute;
    top: 7vh;
    font-family: cuyabra;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 63vh;
    width: 50vw;
    overflow-y: hidden;
}

#shield-dome-name {
    position: absolute;
    left: 3.8vw;
    top: 6vh;
    font-family: olga;
    font-size: 2vw;
}

#shield-dome-level {
    position: absolute;
    left: 4vw;
    top: 12vh;
    font-size: 1vw;
}

#shield-dome-defense {
    position: absolute;
    left: 4vw;
    top: 18vh;
    font-size: 1vw;
}

#shield-dome-state {
    position: absolute;
    left: 4vw;
    top: 24vh;
    font-size: 1vw;
}

#shield-dome-button {
    position: absolute;
    border: 1px solid #555555;
    font-family: cuyabra;
    background-color: white;
    font-size: 2vh;
    cursor: pointer;
    top: 12vh;
    right: 4vw;
    width: 8vw;
    height: 10vh;
    line-height: 30px;
    outline: none;
}

#shield-dome-button img {
    height: 35px;
    width: auto;
    vertical-align: middle;
}

#shield-dome-button:hover {
    background-color: #555555;
    color: white;
}

#shield-dome-wait {
    position: absolute;
    top: 12vh;
    right: 4vw;   
    width: 8vw; 
    font-size: 1vw;
}

#shield-line {
    position: absolute;
    top: 30vh;
    width: 10vw;
    left: 4vw;
}

#shield-turrets-name {
    position: absolute;
    left: 3.8vw;
    top: 36vh;
    font-family: olga;
    font-size: 2vw;
}

#shield-turrets-level {
    position: absolute;
    left: 4vw;
    top: 42vh;
    font-size: 1vw;
}

#shield-turrets-attack {
    position: absolute;
    left: 4vw;
    top: 48vh;
    font-size: 1vw;
}

#shield-turrets-state {
    position: absolute;
    left: 4vw;
    top: 54vh;
    font-size: 1vw;
}

#shield-turrets-button {
    position: absolute;
    border: 1px solid #555555;
    font-family: cuyabra;
    background-color: white;
    font-size: 2vh;
    cursor: pointer;
    top: 42vh;
    right: 4vw;
    width: 8vw;
    height: 10vh;
    line-height: 30px;
    outline: none;
}

#shield-turrets-button img {
    height: 35px;
    width: auto;
    vertical-align: middle;
}

#shield-turrets-button:hover {
    background-color: #555555;
    color: white;
}

#shield-turrets-wait {
    position: absolute;
    top: 42vh;
    right: 4vw;    
    width: 8vw;
    font-size: 1vw;
}

#shield-dome-none {
    position: absolute;
    left: 4vw;
    top: 12vh;
    font-size: 1vw;
}

#shield-turrets-none {
    position: absolute;
    left: 4vw;
    top: 42vh;
    font-size: 1vw;
}