#header-div {
	position: absolute;
	height: 10vh;
	width: 25vw;
	left: 37.5vw;
	top: 8vh;
	text-align: center;
	font-family: olga;
	font-size: 9vh;
	color: white;
}

#header-div hr {
	width: 6vw;
}

#signup-div {
	position: absolute;
	height: 65vh;
	width: 25vw;
	top: 21vh;
	left: 37.5vw;
	text-align: center;
	font-family: cuyabra;
	padding-top: 4vh;
	font-size: 1vw;
	background: white;
}

#signup-div input {
	display: block;
	background: #D3D3D3;
	text-align: center;
	width: 17.5vw;
	margin-left: 3.75vw;
	margin-bottom: 5vh;
	padding-top: 1.2vh;
	padding-bottom: 1.2vh;
	border: none;
	border-radius: 25px;
	outline: none;
	font-family: cuyabra;
	font-size: 1vw;
}

#signup-div button[type="submit"] {
	position: absolute;
	background-color: white;
    color: black;
    border: 2px solid #555555;
	width: 6vw;
	top: 66.5vh;
	padding-top: 1.2vh;
	padding-bottom: 1.2vh;
	left: 10vw;
    cursor: pointer;	
	font-family: cuyabra;
	font-size: 1vw;
}

#signup-div button[type="submit"]:hover {
    background-color: #555555;
    color: white;
}

#errors {
	position: absolute;
	background-color: rgb(248, 79, 79);
	width: 18vw;
	left: 40vw;
	top: 73vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: cuyabra;
	font-size: 1vw;
	text-align: center;
	border: 1px solid black;
	border-radius: 25px;
	font-size: 1vw;
}