#header-div {
	position: absolute;
	width: 30vw;
	right: 3vw;
	top: 11vh;
	text-align: center;
	font-family: olga;
	font-size: 7vh;
	color: white;
}

#header-hr {
	position: absolute;
	right: 13vw;
	top: 19vh;
	width: 10vw;
	color: white;
}

#controls-div {
	position: absolute;
	height: 70vh;
	width: 30vw;
	top: 21vh;
	right: 3vw;
	text-align: center;
	padding-top: 4vh;
	font-family: cuyabra;
	font-size: 20px;
	background: white;
	border-radius: 10px;
}

.planet-line {
	cursor: pointer;
	margin-left: 2vw;
	width: 24.5vw;
	line-height: 3vh;
	vertical-align: middle;
	border-radius: 25px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-size: 2.5vh;
	text-align: left;
	padding-left: 1vw;
}

.planet-line:hover {
	background-color: #d3d3d3;
}

.planet-line img {
	width: 2vw;
	height: 2vw;
	border-radius: 2vh;
	vertical-align: middle;
	margin-right: 2vw;
}

.planet-hr {
	width: 24vw;
	margin-top: 1vh;
	left: 3vw;
}

.planet-line-planet-name {
	display: inline-block;
	width: 7vw;
	margin-right: 1.6vw;
	vertical-align: middle;
}

.planet-line-empire-name {
	display: inline-block;
	width: 11vw;
	vertical-align: middle;
}