#top-div {
	position: absolute;
	width: 37vw;
	height: 14.7vh;
	left: 0.5vw;
	top: 1vh;
	background-color: white;
    font-family: cuyabra;
    border-radius: 10px;
}

#top-planets-dropdown {
	position: absolute;
	border: 1px solid black;
	top: 2vh;
	left: 1vw;
	width: 10vw;
	height: 3vh;
	vertical-align: center;
	text-align: left;
	font-size: 2vh;
	background-color: white;
	z-index: 9999999;
	cursor: pointer;
}

#top-planets-dropdown-head {
	cursor: pointer;
	text-align: center;
}

.top-planets-dropdown-hr {
	display: none;
	width: 8vw;
	margin-left: 1vw;
}

.top-planets-dropdown-line {
	display: none;
	cursor: pointer;
	height: 2.5vh;
	width: 8vw;
	text-align: center;
	margin-left: 1vw;
}

.top-planets-dropdown-line:hover {
	background-color: #d3d3d3;
}

#top-gc {
	position: absolute;
	top: 8vh;
	left: 1vw;
	font-size: 1.5vh;
	vertical-align: middle;
	line-height: 100%
}

#top-gc img {
	height: 3vh;
	padding-right: 0.8vw;
	vertical-align: middle;
}

#top-resources {
	position: absolute;
	top: 13vh;
	width: 27vw;
	height: 0;
	border-radius: 10px;
	background-color: white;
}

.top-resource {
	display: none;
}

#top-resources-iron {
	position: absolute;
	font-size: 1.3vh;
	width: 5vw;
	left: 1vw;
	top: 2vh;
}

#top-resources-iron img {
	height: 3vh;
	width: auto;
	padding-right: 0.5vw;
	vertical-align: middle;
}

#top-resources-hydrogen {
	position: absolute;
	font-size: 1.3vh;
	width: 5vw;
	left: 6vw;
	top: 2vh;
}

#top-resources-hydrogen img {
	height: 3vh;
	width: auto;
	padding-right: 0.5vw;
	vertical-align: middle;
}

#top-resources-titanium {
	position: absolute;
	font-size: 1.3vh;
	width: 5vw;
	left: 11vw;	
	top: 2vh;
}

#top-resources-titanium img {
	height: 3vh;
	width: auto;
	padding-right: 0.5vw;
	vertical-align: middle;
}

#top-resources-uranium {
	position: absolute;
	font-size: 1.3vh;
	width: 5vw;
	left: 16vw;
	top: 2vh;
}

#top-resources-uranium img {
	height: 3vh;
	width: auto;
	padding-right: 0.5vw;
	vertical-align: middle;
}

#top-resources-orium {
	position: absolute;
	font-size: 1.3vh;
	width: 5vw;
	left: 21vw;
	top: 2vh;
}

#top-resources-orium img {
	height: 3vh;
	width: auto;
	padding-right: 0.5vw;
	vertical-align: middle;
}

#top-planet-button {
	position: absolute;
	top: 10vh;
	right: 2.5vw;
	width: 3.2vw;
	height: 3.2vh;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

#top-planet-button img {
	height: 100%;
	width: auto; 
}

#top-planet-button:hover {
	background-color: #d3d3d3;
}

#top-solar-system-button {
	position: absolute;
	top: 5.5vh;
	right: 2.5vw;
	width: 3.2vw;
	height: 3.2vh;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

#top-solar-system-button img {
	height: 100%;
	width: auto; 
}

#top-solar-system-button:hover {
	background-color: #d3d3d3;
}

#top-galaxy-button {
	position: absolute;
	top: 1vh;
	right: 2.5vw;
	width: 3.2vw;
	height: 3.2vh;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

#top-galaxy-button img {
	height: 100%;
	width: auto; 
}

#top-galaxy-button:hover {
	background-color: #d3d3d3;
}

#top-self-profile-button {
	position: absolute;
	left: 13vw;
	top: 2vh;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	width: 8vw;
	text-align: center;
	outline: none;
}

#top-self-profile-button:hover {
	color: white;
	background-color: black;
}

#top-messages-button {
	position: absolute;
	left: 21.5vw;
	top: 2vh;
	width: 8vw;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	outline: none;
}

#top-messages-button:hover {
	color: white;
	background-color: black;
}

#top-scoreboards-button {
	position: absolute;
	left: 13vw;
	top: 6vh;
	width: 8vw;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	outline: none;
}

#top-scoreboards-button:hover {
	color: white;
	background-color: black;
}

#top-index-button {
	position: absolute;
	left: 13vw;
	top: 10vh;
	width: 8vw;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	outline: none;
}

#top-index-button:hover {
	color: white;
	background-color: black;
}

#top-friendlist-button {
	position: absolute;
	left: 21.5vw;
	top: 6vh;
	width: 8vw;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	outline: none;
}

#top-friendlist-button:hover {
	color: white;
	background-color: black;
}

#top-notifications-button {
	position: absolute;
	left: 21.5vw;
	top: 10vh;
	width: 8vw;
	background-color: white;
	font-family: cuyabra;
	font-size: 0.9vw;
	border: 2px solid black;
	cursor: pointer;
	outline: none;
}

#top-notifications-button:hover {
	color: white;
	background-color: black;
}

.top-red-dot {	
	position: absolute;
    height: 0.8vh;
    width: 0.8vh;
    background-color: rgb(184, 14, 14);
    border-radius: 50%;
	top: 40%;
	right: 5%;
	display: inline-block;
}

#top-minimize {
	position: absolute;
	right: 0vw;
	width: 1vw;
	cursor: pointer;
	height: 2vh;
	padding-top: 6.375vh;
	padding-bottom: 6.375vh;
	border-radius: 10px;
	vertical-align: middle;
	outline: none;
}

#top-minimize img {
	height: 100%;
	width: auto;
	vertical-align: middle;
}

#top-minimize:hover {
	background-color: #d3d3d3;
}

#top-extend {
	position: absolute;
	right: 0vw;
	width: 1vw;
	cursor: pointer;
	height: 2vh;
	padding-top: 6.375vh;
	padding-bottom: 6.375vh;
	vertical-align: middle;
	outline: none;
}

#top-extend img {
	height: 100%;
	width: auto;
	vertical-align: middle;
}

#top-extend:hover {
	background-color: #d3d3d3;
}