<button id="close-army">X</button>
<div id="army-header-div">ARMY</div>
<div id="army-content-div">
    <div id="army-stats">
        <div id="army-military-power">{{formatNumber army.military_power}}<br/>MILITARY POWER</div>
        <div id="army-combat">{{formatNumber army.combat_size}}<br/>COMBAT</div>
        <div id="army-combat-support">{{formatNumber army.combat_support_size}}<br/>COMBAT SUPPORT</div>
    </div>
    <div id="army-space-fleet-title" class="army-title">SPACE FLEET</div>
    {{#each space}}
        <div id={{this.id}} class="army-unit-line">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <button class="army-unit-dismiss transition">DISMISS</button>
        </div>
    {{/each}}   
    {{#each spaceWait}}
        <div id={{this.id}} class="army-unit-line-wait">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <div class="army-unit-wait">{{this.ready_time}}</div>
        </div>
    {{/each}}
    <hr class="army-hr">
    <div id="army-ground-forces-title" class="army-title">GROUND FORCES</div>      
    {{#each ground}}
        <div id={{this.id}} class="army-unit-line">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <button class="army-unit-dismiss transition">DISMISS</button>
        </div>
    {{/each}}
    {{#each groundWait}}
        <div id={{this.id}} class="army-unit-line-wait">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <div class="army-unit-wait">{{this.ready_time}}</div>
        </div>
    {{/each}}
    <hr class="army-hr">
    <div id="army-anti-sheild-title" class="army-title">ANTI SHIELD</div>
    {{#each antiShield}}
        <div id={{this.id}} class="army-unit-line">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <button class="army-unit-dismiss transition">DISMISS</button>
        </div>
    {{/each}}
    {{#each antiShieldWait}}
        <div id={{this.id}} class="army-unit-line-wait">
            <img class="army-unit-image" src={{this.pic_path}}>
            <div class="army-unit-name">{{this.name}}:</div>
            <div class="army-unit-amount">{{this.amount}}</div>
            <div class="army-unit-attack">{{this.attack}}<br/>ATK</div>
            <div class="army-unit-defense">{{this.defense}}<br/>DEF</div>
            <div class="army-unit-wait">{{this.ready_time}}</div>
        </div>
    {{/each}}
</div>
<div id="dismiss"></div>