<button id="close-dismiss">X</button>
<div id="dismiss-name">{{item.name}}</div>
<input id="dismiss-amount" placeholder="amount"></input>
<button id="dismiss-plus">+</button>
<button id="dismiss-minus">-</button>
<div id="dismiss-combat">
    <img src="/images/icons/soldier.png"> x 0
</div>
<div id="dismiss-combat-support">
    <img src="/images/icons/support.png"> x 0
</div>
<div id="dismiss-gcph">
    <img src="/images/icons/gc.png"> per hour x 0
</div>
<button id="dismiss-submit" class="transition">DISMISS</button>

<div id="dismiss-gcph-invisible" class="invisible">{{item.gc_per_hour}}</div>
<div id="dismiss-combat-invisible" class="invisible">{{item.combat}}</div>
<div id="dismiss-batch-invisible" class="invisible">{{item.juba}}</div>
<div id="dismiss-combat-support-invisible" class="invisible">{{item.combat_support}}</div>
<div id="dismiss-max-amount-invisible" class="invisible">{{item.max_amount}}</div>