<button id="close-classes">X</button>
<div id="classes-header-div">INDEX</div>
<div id="classes-content-div">
    {{#each types}}
        <div class="classes-type-line">{{toUpperCase this.0.type}}</div>
        {{#each this}}
            <div class="classes-line">
                <div class="classes-line-name">{{this.name}}</div> 
                <div class="classes-line-description">{{this.description}}</div>
                <div class="classes-line-countered">Counters:<br/>{{this.countered_class_name}}</div>   
            </div>
        {{/each}}
    {{/each}}
</div>