<button id="close-conquest">X</button>
<div id="conquest-header-div">CONQUEST</div>
<div id="conquest-content-div">
    <div id="conquest-text">
        <p>
        To conquer the planet you must send forces with enough military power to protect it from other empires.<br/>
        It will take time for your military forces to spread out and capture the entire planet.<br/>
        Once the planet is conquered, you will be able to decide what to do with it's population (if there is any), and then you can send your own people to populate it. 
        </p>      
    </div>

    <div id="conquest-required-military-power">
        <div>{{requiredMilitaryPower.military_power_requirement}}</div><br/>
        Required military power
    </div>

    <div id="conquest-military-power">
        <div>0</div><br/>
        Military power
    </div>

    <button id="conquest-conquer" class="transition" disabled>CONQUER</button>

    <div id="conquest-combat">COMBAT: 0</div>
    <div id="conquest-combat-support">COMBAT SUPPORT: 0</div>

    <div id="conquest-msg">Hello</div>
    

    <div id="conquest-planets-div">
        {{#each planets}}
            <div class="conquest-planet-line" id="planet-{{this.id}}" extended="false">
                {{this.name}}
            </div>
            <div class="conquest-units" id="planet-{{this.id}}-units"></div>                       
        {{/each}}
    </div>
</div>