<div class="conquest-units-title">ANTI SHIELD</div>
{{#each antiShield}}
    <div class="conquest-unit-line" id="unit-{{this.id}}">
        <img src="{{this.pic_path}}">
        <div class="conquest-unit-line-name ellipsis">{{this.name}}</div>
        <div class="conquest-unit-line-amount">
            <input type="number" min="0" max="{{this.amount}}" step="{{getUnitStep this.amount}}" value="0"> / {{this.amount}}
        </div>
        <div class="conquest-unit-line-attack ellipsis">0<br/>ATK</div>
        <div class="conquest-unit-line-defense ellipsis">0<br/>DEF</div>

        <div class="conquest-unit-line-unit-attack invisible">{{this.unit_attack}}</div>
        <div class="conquest-unit-line-unit-defense invisible">{{this.unit_defense}}</div>
        <div class="conquest-unit-line-unit-combat invisible">{{this.unit_combat}}</div>
        <div class="conquest-unit-line-unit-combat-support invisible">{{this.unit_combat_support}}</div>
    </div>
{{/each}}

<div class="conquest-units-title">SPACE FLEET</div>
{{#each space}}
    <div class="conquest-unit-line" id="unit-{{this.id}}">
        <img src="{{this.pic_path}}">
        <div class="conquest-unit-line-name ellipsis">{{this.name}}</div>
        <div class="conquest-unit-line-amount">
            <input class="conquest-unit-line-amount-input" type="number" min="0" max="{{this.amount}}" step="{{getUnitStep this.amount}}" value="0"> / {{this.amount}}
        </div>
        <div class="conquest-unit-line-attack ellipsis">0<br/>ATK</div>
        <div class="conquest-unit-line-defense ellipsis">0<br/>DEF</div>

        <div class="conquest-unit-line-unit-attack invisible">{{this.unit_attack}}</div>
        <div class="conquest-unit-line-unit-defense invisible">{{this.unit_defense}}</div>
        <div class="conquest-unit-line-unit-combat invisible">{{this.unit_combat}}</div>
        <div class="conquest-unit-line-unit-combat-support invisible">{{this.unit_combat_support}}</div>
    </div>
{{/each}}

<div class="conquest-units-title">GROUND-FORCES</div>
{{#each ground}}
    <div class="conquest-unit-line" id="unit-{{this.id}}">
        <img src="{{this.pic_path}}">
        <div class="conquest-unit-line-name ellipsis">{{this.name}}</div>
        <div class="conquest-unit-line-amount">
            <input type="number" min="0" max="{{this.amount}}" step="{{getUnitStep this.amount}}" value="0"> / {{this.amount}}
        </div>
        <div class="conquest-unit-line-attack ellipsis">0<br/>ATK</div>
        <div class="conquest-unit-line-defense ellipsis">0<br/>DEF</div>

        <div class="conquest-unit-line-unit-attack invisible">{{this.unit_attack}}</div>
        <div class="conquest-unit-line-unit-defense invisible">{{this.unit_defense}}</div>
        <div class="conquest-unit-line-unit-combat invisible">{{this.unit_combat}}</div>
        <div class="conquest-unit-line-unit-combat-support invisible">{{this.unit_combat_support}}</div>
    </div>
{{/each}}