<button id="close-development">X</button>
<div id="development-header-div">DEVELOPMENT</div>
<div id="development-content-div">
    <div id="development-level">Level<br/>{{item.development_level}}</div>
    {{#if wait}}
        <div id="development-wait">
            UPGRADING<br/>
        </div>
    {{else}}
        <button id="development-upgrade" class="transition">
            UPGRADE<br/>
            <img src="/images/icons/gc.png"> x {{formatNumber item.upgrade_gc_cost}}<br/>
            <img src="/images/icons/iron.png"> x {{formatNumber item.upgrade_iron_cost}}
        </button>
    {{/if}}

    <div id="development-capacity">Capacity: {{formatNumber item.capacity}}</div>
    <div id="development-mine-1-max">{{item.resource_1}} mine maximal level: {{item.max_level}}</div>
    <div id="development-mine-2-max">{{item.resource_2}} mine maximal level: {{item.max_level}}</div>
    <hr id="development-line">
    <div id="development-next-level">Next level</div>
    <div id="development-next-capacity">Capacity: {{formatNumber item.next_capacity}}</div>
    <div id="development-next-mine-1-max">{{item.resource_1}} mine maximal level: {{item.mines_next_max_level}}</div>
    <div id="development-next-mine-2-max">{{item.resource_2}} mine maximal level: {{item.mines_next_max_level}}</div>    
    
    <div id="development-wait-till" class="invisible">{{item.development_wait_till}}</div>
</div>