<button id="close-friendlist">X</button>
<div id="friendlist-header-div">FRIEND LIST</div>
<div id="friendlist-content-div">
    <div id="friendlist-add-friend">
        <input type="text" id="friendlist-add-friend-input">
        <button id="friendlist-add-button" class="transition">ADD</button> 
    </div>

    <div id="friendlist-header">OUTGOING REQUESTS</div>
    {{#each pendingOutRequests}}
        <div class="friendlist-line transition outgoing-request" userID={{this.id}}>
            <div class="friendlist-line-nickname">{{this.nickname}}</div>
            <button class="friendlist-line-x"><img src="/images/icons/x.png"></button>
        </div>
        <hr class="friendlist-hr">
    {{/each}}

    <div id="friendlist-header">PENDING REQUESTS</div>
    {{#each pendingInRequests}}
        <div class="friendlist-line transition pending-request" userID={{this.id}}>
            <div class="friendlist-line-nickname">{{this.nickname}}</div>
            <button class="friendlist-line-x"><img src="/images/icons/x.png"></button>
            <button class="friendlist-line-v"><img src="/images/icons/v.png"></button>
        </div>
        <hr class="friendlist-hr">
    {{/each}}

    <div id="friendlist-header">FRIENDS</div>
    {{#each friends}}
        <div class="friendlist-line transition friend" userID={{this.id}}>
            <div class="friendlist-line-nickname">{{this.nickname}}</div>
            <button class="friendlist-line-x"><img src="/images/icons/x.png"></button>
        </div>
        <hr class="friendlist-hr">
    {{/each}}

    <div id="friendlist-msg-div"></div>
</div>