<button id="close-messages">X</button>
<div id="messages-header-div">INBOX</div>
<div id="messages-content-div">
    <div id="messages-buttons">
        <div id="messages-inbox" class="transition">INBOX</div>
        <div id="messages-buttons-line"></div>

        <div id="messages-outbox" class="transition">OUTBOX</div>
        <div id="messages-new-message" class="transition">NEW MESSAGE</div>
    </div>

    {{#each messages}}                    
        {{#if this.unread}}
            <div class="message-inbox-line unread transition" id={{this.message_id}}>   
                <div class="message-line-nickname bold">From: {{this.nickname}}</div>
                <div class="message-line-topic bold">{{this.topic}}</div>
                <div class="message-line-time bold">{{this.time}}</div>
            </div>
        {{else}}
            <div class="message-inbox-line transition" id={{this.message_id}}>   
                <div class="message-line-nickname">From: {{this.nickname}}</div>
                <div class="message-line-topic">{{this.topic}}</div>
                <div class="message-line-time">{{this.time}}</div>
            </div>
        {{/if}}           
        <hr class="message-hr">
    {{/each}}
</div>