<button id="close-message" class="inbox">X</button>
<div id="message-header-div">MESSAGE</div>
<div id="message-content-div">
    <div id="message-sender-recipient">From:</div>
    <div id="message-sender-recipient-div">{{item.sender_name}}</div>   

    <div id="message-topic">Topic:</div>
    <div id="message-topic-div">{{item.topic}}</div>  

    <div id="message-message">Message:</div>
    <div id="message-message-div">{{item.content}}</div>  

    <button id="message-respond" class="transition">RESPOND</button>

    <div id="message-id" class="invisible">{{item.message_id}}</div>
</div>