<button id="close-index">X</button>
<div id="index-header-div">INDEX</div>
<div id="index-content-div">
    <button id="index-military-classes" class="transition">MILITARY CLASSES</button>
    <button id="index-resources" class="transition">RESOURCES</button>
</div>