<button id="close-make-message">X</button>
<div id="make-message-header-div">MESSAGE</div>
<div id="make-message-content-div">
    <div id="make-message-recipient">To: </div>
    <input type="text" id="make-message-recipient-input" value="{{item.sender_name}}">    

    <div id="make-message-topic">Topic: </div>
    <input type="text" id="make-message-topic-input" value="{{item.topic}}">

    <div id="make-message-message">Message: </div>
    <textarea id="make-message-message-textarea">{{item.quote}}</textarea>

    <button id="make-message-send" class="transition">SEND</button>

    <div id="make-message-msg"></div>
</div>