<button id="close-military-shop">X</button>
<div id="military-shop-header-div">store</div>
<div id="military-shop-content-div">
    <div id="military-shop-categories">
        <div class="military-shop-category transition" id="military-shop-all">ALL</div>
        <div class="military-shop-category transition" id="military-shop-anti-shield">ANTI SHIELD FORCES</div>
        <div class="military-shop-category transition" id="military-shop-space-fleet">SPACE FLEET</div>
        <div class="military-shop-category transition" id="military-shop-ground-forces">GROUND FORCES</div>        
    </div>
    {{#each items}}
        <div id={{this.id}} class="unit transition">
            <div class="unit-name">{{this.name}}</div>
            <img class="unit-image" src={{this.pic_path}}>
            <div class="unit-class">{{this.class_name}}</div>
            <div class="unit-resources">
                <img src={{this.resource_1_pic}}>
                <img src={{this.resource_2_pic}}>
            </div>
        </div>
    {{/each}}
</div>