<button id="close-extended-item">X</button>
<div id="extended-item-header-div">store</div>
<div id="extended-item-content-div">
    <div id={{item.id}} class="extended-item">
        <div id="extended-item-name">{{item.name}}</div>
        <div id="extended-item-class">{{item.class_name}}</div>
        <div id="extended-item-unit-image"><img src={{item.pic_path}}></div>
        <div id="extended-item-msg">hello</div>
        <input id="extended-item-amount" value={{item.juba}}></input>
        <button id="extended-item-plus">+</button>
        <button id="extended-item-minus">-</button>
        <div id="extended-item-attack">{{formatNumber item.attack}}<br/>ATK</div>
        <div id="extended-item-defense">{{formatNumber item.defense}}<br/>DEF</div>
        <div id="extended-item-cost">
            <div id="extended-item-resource-1"><img src={{item.resource_1_pic}}> x {{formatNumber item.resource_1_amount}}</div>
            <div id="extended-item-resource-2"><img src={{item.resource_1_pic}}> x {{formatNumber item.resource_2_amount}}</div>
            <div id="extended-item-combat"><img src="/images/icons/soldier.png"> x {{formatNumber item.combat}}</div>
            <div id="extended-item-combat-support"><img src="/images/icons/support.png"> x {{formatNumber item.combat_support}}</div>
            <div id="extended-item-gcph"><img src="/images/icons/gc.png"> per hour x {{formatNumber item.gc_per_hour}}</div>
        </div>
        <button id="extended-item-buy" class="transition">BUY</button>

        <div id="extended-item-batch" class="invisible">5000</div>
        <div id="extended-item-unit-attack" class="invisible">{{item.unit_attack}}</div>
        <div id="extended-item-unit-defense" class="invisible">{{item.unit_defense}}</div>
        <div id="extended-item-unit-resource-1" class="invisible">{{item.unit_resource_1_amount}}</div>
        <div id="extended-item-unit-resource-2" class="invisible">{{item.unit_resource_2_amount}}</div>
        <div id="extended-item-unit-combat" class="invisible">{{item.unit_combat}}</div>
        <div id="extended-item-unit-combat-support" class="invisible">{{item.unit_combat_support}}</div>
        <div id="extended-item-unit-gcph" class="invisible">{{item.unit_gc_per_hour}}</div>
    </div>
</div>