<button id="close-mines">X</button>
<div id="mines-header-div">MINES</div>
<div id="mines-content-div">

    <div id="mine-1-name">{{item.resource_1}} mine</div>
    <div id="mine-1-image"><img src={{item.resource_1_pic}}></div>
    
    {{#if item.no_mine_1}}
        <div id="mine-1-level">Not built.</div>
        <button id="mine-1-upgrade" class="transition">
            BUILD<br/>
            <img src="/images/icons/gc.png"> x {{formatNumber item.upgrade_cost_1}}
        </button>
    {{else}}
        <div id="mine-1-level">Level: {{item.level_1}}</div>
        <div id="mine-1-workers">Workers: {{formatNumber item.mine_1_workers}}</div>
        <div id="mine-1-per-hour"><img src={{item.resource_1_pic}}> per hour: {{formatMul item.per_hour_1 item.mine_1_workers}}</div>
        <div id="error-1"></div>
        {{#if wait1}}
            <div id="wait-1">
                UPGRADING<br/>            
            </div>
        {{else}}
            <button id="mine-1-upgrade" class="transition">
                UPGRADE<br/>
                <img src="/images/icons/gc.png"> x {{formatNumber item.upgrade_cost_1}}
            </button>
        {{/if}}
    {{/if}}
    
    
    <hr id="mines-line">

    <div id="mine-2-name">{{item.resource_2}} mine</div>
    <div id="mine-2-image"><img src={{item.resource_2_pic}}></div>    
    
    {{#if item.no_mine_2}}
        <div id="mine-2-level">Not built.</div>
        <button id="mine-2-upgrade" class="transition">
            BUILD<br/>
            <img src="/images/icons/gc.png"> x {{formatNumber item.upgrade_cost_2}}
        </button>
    {{else}}
        <div id="mine-2-level">Level: {{item.level_2}}</div>
        <div id="mine-2-workers">Workers: {{formatNumber item.mine_2_workers}}</div>
        <div id="mine-2-per-hour"><img src={{item.resource_2_pic}}> per hour: {{formatMul item.per_hour_2 item.mine_2_workers}}</div>
        <div id="error-2"></div>
        {{#if wait2}}
            <div id="wait-2">
                UPGRADING<br/>            
            </div>
        {{else}}
            <button id="mine-2-upgrade" class="transition">
                UPGRADE<br/>
                <img src="/images/icons/gc.png"> x {{formatNumber item.upgrade_cost_2}}
            </button>
        {{/if}}
    {{/if}}
       

    <div id="mine-1-per-hour-invisible" class="invisible">{{item.per_hour_1}}</div>
    <div id="wait-1-invisible" class="invisible">{{item.wait_till_1}}</div>
    <div id="mine-2-per-hour-invisible" class="invisible">{{item.per_hour_2}}</div>
    <div id="wait-2-invisible" class="invisible">{{item.wait_till_2}}</div>
</div>
