<div id="notifications-empty" class="invisible">There is nothing here for you...</div>
{{#each item}}
    <div class="notifications-line transition" id="notification-{{this.id}}">{{{this.notification}}}</div>
    <div class="notifications-line-date">{{this.reveal_time}}</div>
    <hr class="notifications-hr">
{{/each}}