<button id="close-message" class="outbox">X</button>
<div id="message-header-div">MESSAGE</div>
<div id="message-content-div">
    <div id="message-sender-recipient">To:</div>
    <div id="message-sender-recipient-div">{{item.receiver_name}}</div>   

    <div id="message-topic">Topic:</div>
    <div id="message-topic-div">{{item.topic}}</div>  

    <div id="message-message">Message:</div>
    <div id="message-message-div">{{item.content}}</div>  
</div>