<button id="close-population">X</button>
<div id="population-header-div">POPULATION</div>
<div id="population-content-div">
    <div id="population-capacity">Capacity: {{formatNumber item.capacity}}</div>
    <div id="population-size">Population size: {{formatNumber item.size}} - {{formatPercentage item.size item.capacity}}%</div>
    <hr id="population-hr">
    <div id="population-combat-ready">Ready for combat: {{formatNumber item.ready_for_combat}}</div>
    <div id="population-combat-support-ready">Ready for combat support: {{formatNumber item.ready_for_combat_support}}</div>
    <div id="population-state" class="transition">STATE:<br/>{{item.state}}%</div>
    <div id="population-gc-payers">
        <div id="population-gc-payers-name">GC PAYERS</div>
        <div id="population-gc-payers-meter">
            <div id="population-gc-payers-number">{{formatNumber item.gc_payers}}</div>
            <div id="population-gc-payers-marked">&nbsp</div>
        </div>     
    </div>
    <div id="population-resource-1-workers">
        <div id="population-resource-1-workers-name">{{item.resource_1}} MINERS</div>
        {{#if item.no_mine_1}}
            <div id="population-resource-1-workers-meter">
                <div id="population-resource-1-workers-number">No mine.</div>
            </div>  
        {{else}}
            <div id="population-resource-1-workers-meter">
                <div id="population-resource-1-workers-number">{{formatNumber item.mine_1_workers}}</div>
                <div id="population-resource-1-workers-marked">&nbsp</div>
            </div>  
            <div id="population-resource-1-workers-plus" class="plus">+</div>   
            <div id="population-resource-1-workers-minus" class="minus">-</div>  
            <div id="population-resource-1-per-hour">
                <img src={{item.resource_1_pic}}> per hour x {{formatMul item.mine_1_workers item.per_hour_1}}
            </div>
        {{/if}}
              
    </div>
    <div id="population-resource-2-workers">
        <div id="population-resource-2-workers-name">{{item.resource_2}} MINERS</div>
        {{#if item.no_mine_2}}
            <div id="population-resource-2-workers-meter">
                <div id="population-resource-2-workers-number">No mine.</div>
            </div>  
        {{else}}
            <div id="population-resource-2-workers-meter">
                <div id="population-resource-2-workers-number">{{formatNumber item.mine_2_workers}}</div>
                <div id="population-resource-2-workers-marked">&nbsp</div>
            </div>  
            <div id="population-resource-2-workers-plus" class="plus">+</div>   
            <div id="population-resource-2-workers-minus" class="minus">-</div>
            <div id="population-resource-2-per-hour">
                <img src={{item.resource_2_pic}}> per hour x {{formatMul item.mine_2_workers item.per_hour_2}}
            </div>
        {{/if}}        
    </div>
    <button id="population-save" class="transition">SAVE</button>
    <div id="population-msg">asd</div>

    <dib id="population-state-invisible" class="invisible">{{item.state}}</dib>
    <div id="population-size-invisible" class="invisible">{{item.size}}</div>
    <div id="population-gc-payers-number-invisible" class="invisible">{{item.gc_payers}}</div>
    <div id="population-resource-1-workers-number-invisible" class="invisible">{{item.mine_1_workers}}</div>
    <div id="population-resource-2-workers-number-invisible" class="invisible">{{item.mine_2_workers}}</div>
    <div id="population-resource-1-per-hour-invisible" class="invisible">{{item.per_hour_1}}</div>
    <div id="population-resource-2-per-hour-invisible" class="invisible">{{item.per_hour_2}}</div>
    <div id="population-state-invisible" class="invisible">{{item.state}}</div>
</div>