<button id="close-profile">X</button>
<div id="profile-header-div">PROFILE</div>
<div id="profile-content-div">
    <div id="profile-player">Player: {{item.player_name}}</div>
    <div id="profile-race">Race: {{item.race_name}}</div>
    <div id="profile-empire">Empire: {{item.empire_name}}</div>
    <div id="profile-planets">Planets controlled: {{item.planets}}</div>
    <div id="profile-military-power">Total military power: {{item.military_power}}</div>
    
    <div id="profile-line"></div>
    
    <div id="profile-honor">{{item.honor}}<br/>Honor</div>
    <div id="profile-empire-rank">#{{planets_rank}}<br/>Empire rank</div>
    <div id="profile-military-rank">#{{military_rank}}<br/>Military rank</div>

    <div id="profile-survivability">Survivability: {{item.survivability}}</div>
    <div id="profile-breed-rate">Breed rate: {{item.breed_rate}}</div>
    <div id="profile-intellegence">Intellegence: {{item.intellegence}}</div>
    <div id="profile-combat-instincts">Combat instincts: {{item.combat_instincts}}</div>
    <button id="profile-lore-button" class="transition">LORE</button>
    <button id="profile-make-message-button" class="transition">MESSAGE</button>
</div>