<div class="line">
    <div class="name">
        SURVIVABILITY
    </div>
    <div class="meter">
        <div id="p-1-1" class="point">&nbsp</div>
        <div id="p-1-2" class="point">&nbsp</div>
        <div id="p-1-3" class="point">&nbsp</div>
        <div id="p-1-4" class="point">&nbsp</div>
        <div id="p-1-5" class="point">&nbsp</div>
        <div id="p-1-6" class="point">&nbsp</div>
        <div id="p-1-7" class="point">&nbsp</div>
        <div id="p-1-8" class="point">&nbsp</div>
        <div id="p-1-9" class="point">&nbsp</div> 
        <div id="p-1-10" class="point">&nbsp</div>
    </div>
    <button id="plus-1" class="plus">+</button>
    <button id="minus-1" class="minus">-</button>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta leo in rhoncus luctus. Sed efficitur pharetra neque a mattis. Proin non sagittis est
    </div>
</div>

<div class="line">
    <div class="name">
        BREED RATE
    </div>
    <div class="meter">
        <div id="p-2-1" class="point">&nbsp</div>
        <div id="p-2-2" class="point">&nbsp</div>
        <div id="p-2-3" class="point">&nbsp</div>
        <div id="p-2-4" class="point">&nbsp</div>
        <div id="p-2-5" class="point">&nbsp</div>
        <div id="p-2-6" class="point">&nbsp</div>
        <div id="p-2-7" class="point">&nbsp</div>
        <div id="p-2-8" class="point">&nbsp</div>
        <div id="p-2-9" class="point">&nbsp</div> 
        <div id="p-2-10" class="point">&nbsp</div>
    </div>
    <button id="plus-2" class="plus">+</button>
    <button id="minus-2" class="minus">-</button>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta leo in rhoncus luctus. Sed efficitur pharetra neque a mattis. Proin non sagittis est
    </div>
</div>
<div class="line">
    <div class="name">
        INTELLEGENCE
    </div>
    <div class="meter">
        <div id="p-3-1" class="point">&nbsp</div>
        <div id="p-3-2" class="point">&nbsp</div>
        <div id="p-3-3" class="point">&nbsp</div>
        <div id="p-3-4" class="point">&nbsp</div>
        <div id="p-3-5" class="point">&nbsp</div>
        <div id="p-3-6" class="point">&nbsp</div>
        <div id="p-3-7" class="point">&nbsp</div>
        <div id="p-3-8" class="point">&nbsp</div>
        <div id="p-3-9" class="point">&nbsp</div> 
        <div id="p-3-10" class="point">&nbsp</div>
    </div>
    <button id="plus-3" class="plus">+</button>
    <button id="minus-3" class="minus">-</button>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta leo in rhoncus luctus. Sed efficitur pharetra neque a mattis. Proin non sagittis est
    </div>
</div>
<div class="line">
    <div class="name">
        COMBAT INSTINCTS
    </div>
    <div class="meter">
        <div id="p-4-1" class="point">&nbsp</div>
        <div id="p-4-2" class="point">&nbsp</div>
        <div id="p-4-3" class="point">&nbsp</div>
        <div id="p-4-4" class="point">&nbsp</div>
        <div id="p-4-5" class="point">&nbsp</div>
        <div id="p-4-6" class="point">&nbsp</div>
        <div id="p-4-7" class="point">&nbsp</div>
        <div id="p-4-8" class="point">&nbsp</div>
        <div id="p-4-9" class="point">&nbsp</div> 
        <div id="p-4-10" class="point">&nbsp</div>
    </div>
    <button id="plus-4" class="plus">+</button>
    <button id="minus-4" class="minus">-</button>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta leo in rhoncus luctus. Sed efficitur pharetra neque a mattis. Proin non sagittis est
    </div>
</div>
<div id="points-count">25 POINTS</div>