<button id="close-resources">X</button>
<div id="resources-header-div">INDEX</div>
<div id="resources-content-div">
    {{#each items}}
        <div class="resources-resource">  
            <img class="resources-resource-img" src={{this.pic_path}}>          
            <div class="resources-resource-description">{{this.description}}</div>
        </div>
    {{/each}}
</div>