<button id="close-scoreboards" class="inbox">X</button>
<div id="scoreboards-header-div">SCOREBOARDS</div>
<div id="scoreboards-content-div">

    <div id="scoreboards-planets-title">PLANETS CONTROLLED</div>
    <div id="scoreboards-planets-table">
        <div class="scoreboards-line-top">
            <div class="scoreboards-rank">RANK</div>
            <div class="scoreboards-nickname">PLAYER</div>
            <div class="scoreboards-empire-name">EMPIRE</div>
            <div class="scoreboards-score">SCORE</div>
        </div>

        {{#each planets}}
            <div id="{{this.item.user_id}}" class="scoreboards-line">
                <div class="scoreboards-rank">{{this.rank}}</div>
                <div class="scoreboards-nickname ellipsis">{{this.item.nickname}}</div>
                <div class="scoreboards-empire-name ellipsis">{{this.item.empire_name}}</div>
                <div class="scoreboards-score">{{this.item.score}}</div>
            </div>
        {{/each}}
    </div>

    <div id="scoreboards-military-power-title">MILITARY POWER</div>
    <div id="scoreboards-military-power-table">
        <div class="scoreboards-line-top">
            <div class="scoreboards-rank">RANK</div>
            <div class="scoreboards-nickname">PLAYER</div>
            <div class="scoreboards-empire-name">EMPIRE</div>
            <div class="scoreboards-score">SCORE</div>
        </div>

        {{#each militaryPower}}
            <div id="{{this.item.user_id}}" class="scoreboards-line">
                <div class="scoreboards-rank">{{this.rank}}</div>
                <div class="scoreboards-nickname ellipsis">{{this.item.nickname}}</div>
                <div class="scoreboards-empire-name ellipsis">{{this.item.empire_name}}</div>
                <div class="scoreboards-score">{{this.item.score}}</div>
            </div>
        {{/each}}        
    </div>

    <div id="scoreboards-user-id" class="invisible">{{userID}}</div>
</div>