<button id="close-self-lore">X</button>
<div id="self-lore-header-div">LORE</div>
<div id="self-lore-content-div">
    <textarea id="self-lore-box">{{item.lore}}</textarea>
    <button id="self-lore-save" class="transition">SAVE</button>
    <div id="self-lore-msg"></div>
</div>