<button id="close-self-profile">X</button>
<div id="self-profile-header-div">PROFILE</div>
<div id="self-profile-content-div">
    <div id="self-profile-player">Player:</div>
    <input type="text" id="self-profile-player-input" value={{item.player_name}}></input>
    <div id="self-profile-race">Race:</div>
    <input type="text" id="self-profile-race-input" value={{item.race_name}}></input>
    <div id="self-profile-empire">Empire:</div>
    <input type="text" id="self-profile-empire-input" value={{item.empire_name}}></input>
    <div id="self-profile-email">Email:</div>
    <input type="text" id="self-profile-email-input" value={{item.email}}></input>

    <div id="self-profile-planets">Planets controlled: {{item.planets}}</div>
    <div id="self-profile-military-power">Total military power: {{item.military_power}}</div>
    <button id="self-profile-save" class="transition">SAVE</button>
    
    <div id="self-profile-line"></div>
    
    <div id="self-profile-honor">{{item.honor}}<br/>Honor</div>
    <div id="self-profile-empire-rank">#{{planets_rank}}<br/>Empire rank</div>
    <div id="self-profile-military-rank">#{{military_rank}}<br/>Military rank</div>

    <div id="self-profile-survivability">Survivability: {{item.survivability}}</div>
    <div id="self-profile-breed-rate">Breed rate: {{item.breed_rate}}</div>
    <div id="self-profile-intellegence">Intellegence: {{item.intellegence}}</div>
    <div id="self-profile-combat-instincts">Combat instincts: {{item.combat_instincts}}</div>
    <button id="self-profile-lore-button" class="transition">LORE</button>

    <div id="self-profile-msg">asdf</div>
</div>