<button id="close-shield">X</button>
<div id="shield-header-div">SHIELD</div>
<div id="shield-content-div">
    <div id="shield-dome-name">Dome</div>

    {{#if item.no_dome}}
        <div id="shield-dome-none">Not built.</div>
        <button id="shield-dome-button" class="transition" action="upgrade">
                BUILD<br/>
                <img src="/images/icons/iron.png"> x {{formatNumber item.dome_upgrade_cost}}
        </button>
    {{else}}
        <div id="shield-dome-level">Level: {{item.dome_level}}</div>
        <div id="shield-dome-defense">Defense: {{formatNumber item.dome_defense}}</div>


        {{#if item.dome_ruined}}
            <div id="shield-dome-state">Status: Damaged</div>
        {{else if domeWait}}
            <div id="shield-dome-state">Status: Constructing</div>
        {{else}}
            <div id="shield-dome-state">Status: Dome online</div>
        {{/if}}

        {{#if domeWait}}
            <div id="shield-dome-wait">CONSTRUCTING<br/></div>
        {{else}}
            {{#if item.dome_ruined}}
                <button id="shield-dome-button" class="transition" action="repair">
                        REPAIR<br/>
                        <img src="/images/icons/iron.png"> x {{formatNumber item.dome_repair_cost}}
                </button>
            {{else}}
                <button id="shield-dome-button" class="transition" action="upgrade">
                        UPGRADE<br/>
                        <img src="/images/icons/iron.png"> x {{formatNumber item.dome_upgrade_cost}}
                </button>
            {{/if}}
        {{/if}}
    {{/if}}


    <hr id="shield-line">
    
    <div id="shield-turrets-name">Turrets</div>

    {{#if item.no_turrets}}
        <div id="shield-turrets-none">Not built.</div>
        <button id="shield-turrets-button" class="transition" action="upgrade">
                BUILD<br/>
                <img src="/images/icons/iron.png"> x {{formatNumber item.turrets_upgrade_cost}}
        </button>
    {{else}}
        <div id="shield-turrets-attack">Attack: {{formatNumber item.turrets_attack}}</div>
        <div id="shield-turrets-level">Level: {{item.turrets_level}}</div>
        {{#if item.turrets_ruined}}
            <div id="shield-turrets-state">Status: Damaged</div>
        {{else if turretsWait}}
            <div id="shield-turrets-state">Status: Constructing</div>
        {{else}}
            <div id="shield-turrets-state">Status: Turrets online</div>
        {{/if}}

        {{#if turretsWait}}
            <div id="shield-turrets-wait">CONSTRUCTING<br/></div>
        {{else}}
            {{#if item.turrets_ruined}}
                <button id="shield-turrets-button" class="transition" action="repair">
                        REPAIR<br/>
                        <img src="/images/icons/iron.png"> x {{formatNumber item.turrets_repair_cost}}
                </button>
            {{else}}
                <button id="shield-turrets-button" class="transition" action="upgrade">
                        UPGRADE<br/>
                        <img src="/images/icons/iron.png"> x {{formatNumber item.turrets_upgrade_cost}}
                </button>
            {{/if}}
        {{/if}}
    {{/if}}
    <div id="shield-dome-wait-till" class="invisible">{{item.dome_wait_till}}</div>
    <div id="shield-turrets-wait-till" class="invisible">{{item.turrets_wait_till}}</div>
</div>